{% load staticfiles %}
{% load trs_formatting %}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ view.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'fira/fira.css' %}" rel="stylesheet">
    <link href="{% static 'trs/layout.css' %}" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'bootstrap/assets/js/html5shiv.js' %}"></script>
      <script src="{% static 'bootstrap/assets/js/respond.min.js' %}"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">

      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"
             href="/"
             title="&larr; Beginpagina">TRS</a>
        </div>

        <!-- Start of collapsible part -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li {% if view.selected_tab = 'booking' %}class="active"{% endif %}>
              <a href="{% url 'trs.booking' %}">
                Boeken
              </a>
            </li>
            <li {% if view.selected_tab = 'projects' %}class="active"{% endif %}>
              <a href="{% url 'trs.projects' %}">Projecten</a>
            </li>
            <li {% if view.selected_tab = 'persons' %}class="active"{% endif %}>
              <a href="{% url 'trs.persons' %}">Medewerkers</a>
            </li>
            <li {% if view.selected_tab = 'overviews' %}class="active"{% endif %}>
              <a href="#">Overzichten</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden-xs hidden-sm">
              <p class="navbar-text">{{ view.today }}</p>
            </li>
            {% if view.admin_override_active %}
              <li>
                <p class="navbar-text">
                  <a href=".?notall">
                    ADMIN OVERRIDE
                  </a>
                </p>
              </li>
            {% endif %}
            {% if view.active_person %}
              <li><p class="navbar-text">{{ view.active_person.as_widget }}</p></li>
            {% endif %}
            {% if user.is_authenticated %}
              <li><a href="{% url 'trs.logout' %}">Log uit</a></li>
            {% else %}
              <li><a href="{% url 'trs.login' %}">Log in</a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div class="row">
        <!-- Rows on desktop and horizontal ipads; stacked otherwise. -->
        <div class="col-md-8">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable">
              <button type="button"
                      class="close"
                      data-dismiss="alert"
                      aria-hidden="true">&times;</button>
              {{ message }}
            </div>
          {% endfor %}

          {% block main-column %}
            Main column
          {% endblock %}
        </div>
        <div class="col-md-3 col-md-offset-1">
          {% block overview-column %}
            {% if view.active_person %}

              <h2>Binnen budget?</h2>
              <div>
                Je hebt
                <b>
                  {{ view.person_year_info.overbooked.percentage }}%
                </b>
                ({{ view.person_year_info.overbooked.over|hours }} uren)
                buiten budget geboekt.
              </div>
              <div class="text-muted">
                Bij dit percentage wordt alleen gekeken naar de <i>externe</i>
                projecten. Het is de bedoeling dat deze projecten netjes in
                samenspraak worden opgezet, inclusief deugdelijke
                ureninschatting.
              </div>
              <h2>Extern/intern?</h2>
              <div>
                Je hebt
                <b>{{ view.person_year_info.billable_percentage }}%</b>
                op externe projecten geboekt.
                {% if view.person_year_info.billable_percentage >= view.active_person.external_percentage %}
                  Prima.
                {% else %}
                  Dit moet nog omhoog, voor jou moet de verhouding
                  {{ view.active_person.external_internal_ratio }}
                  zijn.
                {% endif %}
              </div>
              <div class="text-muted">
                Bij deze verhouding wordt gewoon het aantal geboekte uren van
                dit jaar op externe/interne projecten gebruikt. Of je over
                budget heen bent gegaan wordt hier niet meegenomen.
              </div>
              <h2>Financieel?</h2>
              <div>
                Je hebt
                <b>{{ view.person_year_info.target_percentage }}%</b>
                van je target ({{ view.person_year_info.target|money }})
                gehaald. Nog om te zetten:
                {{ view.person_year_info.left_to_turn_over|money }}.
              </div>

            {% endif %}
          {% endblock %}
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-offset-9 text-muted">
          <hr>
          De TRS code staat <a href="https://github.com/nens/trs">op
            github</a>.<br>

          Hier kan je <a href="https://github.com/nens/trs/issues">bugs
            melden</a>.<br>

          Bugs en vragen kan je ook mailen naar
          <a href="mailto:reinout.vanrees@nelen-schuurmans.nl">Reinout</a>.
        </div>
      </div>

    </div>
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>
