{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{{ view.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'fira/fira.css' %}" rel="stylesheet">
    <link href="{% static 'trs/layout.css' %}" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'bootstrap/assets/js/html5shiv.js' %}"></script>
      <script src="{% static 'bootstrap/assets/js/respond.min.js' %}"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">

      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"
             href="/"
             title="&larr; Beginpagina">TRS</a>
        </div>

        <!-- Start of collapsible part -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li class="active">
              <a href="{% url 'trs.booking' %}">
                Boeken
                <span class="badge" title="2 weken niet geboekt">2</span>
              </a>
            </li>
            <li><a href="{% url 'trs.projects' %}">Projecten</a></li>
            <li><a href="#">Overzichten</a></li>
            <li><a href="{% url 'trs.persons' %}">Wij</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><p class="navbar-text">{{ view.today }}</p></li>
            <li><a href="#">Log in</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div class="row">
        <!-- Rows on desktop and horizontal ipads; stacked otherwise. -->
        <div class="col-md-8">
          {% block main-column %}
            Main column
          {% endblock %}
        </div>
        <div class="col-md-4">
          {% block overview-column %}
            Overview column
          {% endblock %}
        </div>
      </div>

    </div>
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>
