{% load staticfiles %}
{% load trs_formatting %}

<!DOCTYPE html>
<html>
  <head>
    <title>{{ view.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'fira/fira.css' %}" rel="stylesheet">
    <link href="{% static 'trs/layout.css' %}" rel="stylesheet" media="screen">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{% static 'bootstrap/assets/js/html5shiv.js' %}"></script>
      <script src="{% static 'bootstrap/assets/js/respond.min.js' %}"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">

      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand"
             href="/"
             title="&larr; Beginpagina">TRS</a>
        </div>

        <!-- Start of collapsible part -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
          <ul class="nav navbar-nav">
            <li {% if view.selected_tab = 'booking' %}class="active"{% endif %}>
              <a href="{% url 'trs.booking' %}">
                Boeken
                {% if view.active_person.to_book.friendly %}
                  <span class="badge"
                        title="Achter met boeken: {{ view.active_person.to_book.friendly }}">
                    {{ view.active_person.to_book.short }}
                  </span>
                {% endif %}
              </a>
            </li>
            <li {% if view.selected_tab = 'projects' %}class="active"{% endif %}>
              <a href="{% url 'trs.projects' %}">Projecten</a>
            </li>
            <li {% if view.selected_tab = 'persons' %}class="active"{% endif %}>
              <a href="{% url 'trs.persons' %}">Medewerkers</a>
            </li>
            <li {% if view.selected_tab = 'overviews' %}class="active"{% endif %}>
              <a href="{% url 'trs.overviews' %}">Overzichten</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li class="hidden-xs hidden-sm">
              <p class="navbar-text">{{ view.today }}</p>
            </li>
            {% if view.admin_override_active %}
              <li>
                <p class="navbar-text">
                  <a href=".?notall">
                    ADMIN OVERRIDE
                  </a>
                </p>
              </li>
            {% endif %}
            {% if view.active_person %}
              <li>
                <p class="navbar-text">
                  {{ view.active_person.as_widget }}
                </p>
              </li>
            {% else %}
              <li>
                <p class="navbar-text"
                   title="{{ user }} is nog niet bekend i/h systeem">
                  Nog niet gekoppeld
                </p>
              </li>
            {% endif %}
            {% if user.is_authenticated %}
              <li><a href="{% url 'trs.logout' %}">Log uit</a></li>
            {% else %}
              <li><a href="{% url 'trs.login' %}">Log in</a></li>
            {% endif %}
          </ul>
        </div><!-- /.navbar-collapse -->
      </nav>

      <div class="row">
        <!-- Rows on desktop and horizontal ipads; stacked otherwise. -->
        <div class="col-md-8">
          {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable">
              <button type="button"
                      class="close"
                      data-dismiss="alert"
                      aria-hidden="true">&times;</button>
              {{ message }}
            </div>
          {% endfor %}

          {% block main-column %}
            Main column
          {% endblock %}
        </div>
        <div class="col-md-3 col-md-offset-1">
          {% block overview-column %}
            {% if view.sidebar_person %}

              <h2>
                Voortgang
                {% if view.sidebar_person != view.active_person %}
                  <small>(van {{ view.sidebar_person.name }})</small>
                {% endif %}
              </h2>
              <div><b>Bij met boeken?</b></div>
              <div>
                Nog te boeken:
                <span class="label label-{{ view.sidebar_person.to_book.klass }}">
                  {{ view.sidebar_person.to_book.friendly }}
                </span>
              </div>
              <br>

              <div><b>Binnen budget?</b></div>
              <div class="progress"
                   title="{{ view.sidebar_person_year_info.overbooked_percentage }}% buiten budget geboekt">
                <div class="progress-bar progress-bar-success"
                     style="width: {{ view.sidebar_person_year_info.well_booked_percentage }}%;">
                </div>
                <div class="progress-bar progress-bar-danger"
                     style="width: {{ view.sidebar_person_year_info.overbooked_percentage }}%;">
                </div>
              </div>

              <div><b>Extern/intern?</b></div>
              <div class="progress"
                   title="{{ view.sidebar_person_year_info.billable_percentage }}% op externe projecten geboekt.">
                <div class="progress-bar progress-bar-success"
                     style="width: {{ view.sidebar_person_year_info.billable_percentage }}%;">
                </div>
                <div class="progress-bar progress-bar-danger"
                     style="width: {{ view.sidebar_person_year_info.unbillable_percentage }}%;">
                </div>
              </div>

              <div><b>Target?</b></div>
              <div class="progress"
                   title="{{ view.sidebar_person_year_info.target_percentage }}% van je target gehaald">
                <div class="progress-bar"
                     style="width: {{ view.sidebar_person_year_info.target_percentage }}%;">
                </div>
              </div>

            {% endif %}
          {% endblock %}
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 col-md-offset-9 text-muted">
          <hr>
          De TRS code staat <a href="https://github.com/nens/trs">op
            github</a>.<br>

          Hier kan je <a href="https://github.com/nens/trs/issues">bugs
            melden</a>.<br>

          Bugs en vragen kan je ook mailen naar
          <a href="mailto:reinout.vanrees@nelen-schuurmans.nl">Reinout</a>.
        </div>
      </div>

    </div>
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
  </body>
</html>
