{% extends "trs/base.html" %}

{% block main-column %}
  <h1>Uren boeken</h1>
  <p>Projecten waar <i>ik, {{ view.active_person.name }}</i> op kan boeken:</p>

  <table class="table">
    <thead>
      <th>Code</th>
      <th>Omschrijving</th>
      <th>Week {{ view.active_year_week }}<br>
      <span class="quiet">12 oktober</span></th>
      <!-- TODO: add nice week widget including hover for starting date and so -->
    </thead>
    <tbody>
      {% for project in view.active_projects %}
        <tr>
          <td>{{ project.as_widget }}</td>
          <td>{{ project.description }}</td>
          <td>
            <input size="2"></input>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block overview-column %}
  Overview column
{% endblock %}
