{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block main-column %}
  <h1>Uren boeken</h1>

  <form action="." method="post">
    {% csrf_token %}
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Code</th>
          <th>Omschrijving</th>
          <th class="text-right">Budget</th>
          <th class="text-right">Geboekt</th>
          <th class="text-right">Over</th>
          <th>&nbsp;</th>
          {% for year_week in view.year_weeks_to_display %}
            <th class="text-right">{{ year_week.as_widget }}</th>
            <!-- TODO: give feedback in widget if you need to book in that week -->
          {% endfor %}
          <!-- TODO: add nice week widget including hover for starting date
            and so -->
        </tr>
      </thead>
      <tbody>
        {% for line in view.lines %}
          <tr>
            <td>
              {{ line.project.as_widget }}
            </td>
            <td>
              <span class="text-muted"
                    {% if line.project.description|length > 30 %}
                      title="{{ line.project.description }}"
                    {% endif %}>
                {{ line.project.description|truncatechars:30 }}
              </span>
            </td>
            <td class="text-right">{{ line.ppc.budget|hours }}</td>
            <td  class="text-right {% if line.ppc.is_overbooked %}danger{% endif %}">
              {{ line.ppc.booked|hours }}
            </td>
            <td class="text-right">{{ line.ppc.left_to_book|hours }}</td>
            <td style="border-left: 1px solid rgb(221, 221, 221);">&nbsp;&nbsp;&nbsp;</td>
            <td class="text-right">{{ line.hours0|hours }}</td>
            <td class="text-right">{{ line.hours1|hours }}</td>
            <td class="text-right">
              {{ line.field }}
              {% for error in line.field.errors %}
                <div class="alert alert-danger">{{ error }}</div>
              {% endfor %}
            </td>
            <td class="text-right">{{ line.hours3|hours }}</td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th colspan="2">
            <input type="submit"
                   class="btn btn-primary"
                   tabindex="{{ view.tabindex_submit_button|default:99 }}"
                   value="Submit" /></th>
        </tr>
      </tfoot>
    </table>
  </form>

{% endblock %}
