{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block full-width %}
  <h1>Overzicht facturen per maand</h1>

  <p>
    Per maand voor de afgelopen 5 jaar het totale bedrag aan uitgaande
    facturen (ex btw).
  </p>

  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissable">
      <button type="button"
              class="close"
              data-dismiss="alert"
              aria-hidden="true">&times;</button>
      {{ message }}
    </div>
  {% endfor %}

  <table class="table table-condensed table-fixed-header">
    <thead class="header">
      <tr>
        <th class="text-right">Maand</th>
	{% for year in view.years %}
          <th class="text-right">{{ year }}</th>
	{% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for row in view.rows %}
        <tr>
	  <th>{{ row.month }}</th>
	  {% for amount in row.amounts %}
          <td class="text-right">
	    <a href="{{ amount.url }}">
              {{ amount.value|money_with_decimal }}</td>
            </a>
          {% endfor %}
	</tr>  
       {% endfor %}
    </tbody>
  </table>

{% endblock %}
