{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block full-width %}
  <h1>
    Overzicht facturen
    {% if view.year == 'all' %}
      (allemaal)
    {% else %}
      voor {{ view.year }}
    {% endif %}
  </h1>
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissable">
      <button type="button"
              class="close"
              data-dismiss="alert"
              aria-hidden="true">&times;</button>
      {{ message }}
    </div>
  {% endfor %}

  <div class="text-muted">
    {% for year in view.available_years %}
      <a href="?year={{ year }}">{{ year }}</a> |
    {% endfor %}
    <a href="?year=all">Allemaal</a>
  </div>

  <table class="table table-condensed table-fixed-header">
    <thead class="header">
      <tr>
        <th class="text-right">Datum</th>
        <th>Factuurnummer</th>
        <th>Project</th>
        <th>Opdrachtgever</th>
        <th>Omschrijving</th>
        <th class="text-right">Exclusief</th>
        <th class="text-right">BTW</th>
        <th class="text-right">Inclusief</th>
        <th class="text-right">Betaald</th>
      </tr>
    </thead>
    <tbody>
      {% for invoice in view.invoices %}
      <tr id="{{ invoice.id }}">
        <td class="text-right">{{ invoice.date|date:"SHORT_DATE_FORMAT" }}</td>
        <td>
          {% if not invoice.project.archived %}
            <a href="{% url 'trs.invoice.edit' project_pk=invoice.project.pk pk=invoice.pk %}?from_invoice_overview">
              {{ invoice.number }}
            </a>
          {% else %}
            {{ invoice.number }}
          {% endif %}
        </td>
        <td>{{ invoice.project.as_widget }}</td>
        <td>{{ invoice.project.principal }}</td>
        <td>{{ invoice.description }}</td>
        <td class="text-right">{{ invoice.amount_exclusive|money_with_decimal }}</td>
        <td class="text-right">{{ invoice.vat|money_with_decimal }}</td>
        <td class="text-right">{{ invoice.amount_inclusive|money_with_decimal }}</td>
        <td class="text-right">{{ invoice.payed|date:"SHORT_DATE_FORMAT"|default:'Nee' }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>Totaal</th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">{{ view.total_exclusive|money_with_decimal }}</th>
        <th></th>
        <th class="text-right">{{ view.total_inclusive|money_with_decimal }}</th>
        <th></th>
      </tr>
    </tfoot>
  </table>

{% endblock %}
