{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block main-column %}
  <h1>Overzichten</h1>

  <ul>
    {% if perms.auth.manage_users %}
      <li>
        <a href="{% url 'lizard_auth_client.user_overview' %}">
          Gebruikers/toegangsbeheer
        </a>
      </li>
    {% endif %}
    {% if view.can_see_everything %}
      <li>
        <a href="{% url 'trs.overviews.invoices' %}">
          Overzicht facturen op datum
        </a>
      </li>
      <li>
        <a href="{% url 'trs.overviews.invoices_per_month' %}">
          Overzicht uitgaande facturen per maand
        </a>
      </li>
      <li>
        <a href="{% url 'trs.overviews.payables' %}">
          Overzicht kosten derden
        </a>
      </li>
      <li>
        <a href="{% url 'trs.overviews.wbso_projects' %}">
          Overzicht WBSO projecten
        </a>
      </li>
      <li>
        <a href="{% url 'trs.overviews.reservations' %}">
          Overzicht reserveringen op projecten
        </a>
      </li>
      <li>
        <a href="{% url 'trs.projects.loss' %}">
          Overzicht verlies op projecten
        </a>
      </li>
      <li>
        <a href="{% url 'trs.overviews.financial' %}">
          Overzicht financiën
        </a>
      </li>
      <li>
        <a href="{% url 'trs.persons' %}?status=all&year={{ view.previous_year }}">
          Medewerkeroverzicht vorig jaar
        </a>
      </li>
      <li>
        <a href="{% url 'trs.overviews.ratings' %}">
          Overzicht rapportcijfers
        </a>
      </li>
    {% endif %}
    <li>
      <a href="{% url 'trs.overviews.changes' %}">
        Overzicht relevante wijzigingen in de laatste weken
      </a>
    </li>
    <li>
      <a href="{% url 'trs.overviews.pl_pm' %}">
        Overzicht projectleiders en projectmanagers
      </a>
    </li>
  </ul>

{% endblock %}
