{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block main-column %}
  <h1>Medewerkers</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Naam</th>
        <th class="text-right"
            title="Nog boekbare uren op externe projecten">
          Werkvoorraad
        </th>
        <th class="text-right">
          Nog te boeken
        </th>
        <th class="text-right">
          Buiten budget geboekt
        </th>
        <th class="text-right"
            title="">
          Extern percentage
        </th>
        <th class="text-right"
            title="">
          Target
        </th>
      </tr>
    </thead>
    <tbody>
      {% for line in view.lines %}
        <tr>
          <td style="white-space: nowrap;">
            {{ line.person.as_widget }}
          </td>
          <td class="text-right">
            {{ line.pyc.left_to_book|hours }}
          </td>
          <td class="{{ line.person.to_book.klass }} text-right">
            {{ line.person.to_book.friendly }}
          </td>
          <td class="text-right {{ line.klass }}">
            {{ line.pyc.overbooked|hours }}
          </td>
          <td class="text-right">
            {{ line.pyc.billable_percentage }}%
          </td>
          <td class="text-right">
            {{ line.pyc.target_percentage }}%
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if view.can_add_person %}
    <hr>
    <p>
      <a href="{% url 'trs.person.new' %}" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        Voeg nieuwe medewerker toe
      </a>
    </p>
  {% endif %}
{% endblock %}
