{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block main-column %}
  <h1>
    {{ view.title }}
    {% if view.small_title %}
      <small>({{ view.small_title }})</small>
    {% endif %}
  </h1>

  {% include "trs/filter-snippet.html" %}

  <table class="table table-hover table-condensed table-fixed-header">
    <thead class="header">
      <tr>
        <th>Naam</th>
        <th class="text-right"
            title="Nog boekbare uren op externe projecten">
          Werkvoorraad
        </th>
      </tr>
    </thead>
    <tbody>
      {% for line in view.lines %}
        <tr>
          <td>
            {{ line.person.as_widget }}
          </td>
          <td class="text-right">
            {{ line.pyc.left_to_book_external|hours }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
