{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block full-width %}
  <h1>Medewerkers</h1>
  <div class="text-muted">
    {% if view.filters.archived %}
      <a href="?archived=false">Toon huidige medewerkers</a> |
      <span>Gearchiveerde medewerkers</span>
    {% else %}
      <span>Huidige medewerkers</span> |
      <a href="?archived=true">Toon gearchiveerde medewerkers</a>
    {% endif %}
  </div>
  <table class="table table-hover table-condensed table-fixed-header">
    <thead class="header">
      <tr>
        <th>Naam</th>
        <th class="text-right"
            title="Nog boekbare uren op externe projecten">
          Werkvoorraad
        </th>
        <th class="text-right">
          Nog te boeken
        </th>
        <th class="text-right">
          Buiten budget geboekt
        </th>
        <th class="text-right"
            title="Percentage uren dat op externe projecten is geboekt.">
          Extern percentage
        </th>
        <th class="text-right"
            title="Percentage van het target dat al is omgezet.">
          Target percentage
        </th>
        <th class="text-right text-muted"
            title="Omzet (gebruikt voor target percentage)">
          Omzet
        </th>
        <th class="text-right text-muted"
            title="Target dit jaar (gebruikt voor target percentage)">
          Target
        </th>
      </tr>
    </thead>
    <tbody>
      {% for line in view.lines %}
        <tr>
          <td style="white-space: nowrap;">
            {{ line.person.as_widget }}
          </td>
          <td class="text-right">
            {{ line.pyc.left_to_book_external|hours }}
          </td>
          <td class="{{ line.person.to_book.klass }} text-right">
            <a href="{% url 'trs.booking.overview' pk=line.person.id %}">
              {{ line.person.to_book.friendly }}
            </a>
          </td>
          <td class="text-right {{ line.klass }}">
            {{ line.pyc.overbooked|hours }}
          </td>
          <td class="text-right">
            {{ line.pyc.billable_percentage }}%
          </td>
          <td class="text-right">
            {{ line.pyc.target_percentage }}%
          </td>
          <td class="text-right text-muted">
            {{ line.pyc.turnover|money }}
          </td>
          <td class="text-right text-muted">
            {{ line.person.target|money }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if view.can_add_person %}
    <hr>
    <p>
      <a href="{% url 'trs.person.new' %}" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        Voeg nieuwe medewerker toe
      </a>
    </p>
  {% endif %}
{% endblock %}
