{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block main-column %}
  <h1>{{ view.person.name }}</h1>
  <table class="table borderless-table table-condensed"
         style="width: auto;">
    <tbody>
      <tr>
        <th>Werkweek</th>
        <td>{{ view.person.hours_per_week|hours }}</td>
      </tr>
      <tr>
        <th>Werkvoorraad op externe projecten</th>
        <td>{{ view.pyc.left_to_book|hours }}</td>
      </tr>
      <tr>
        <th>Bij qua boeken</th>
        <td>{{ view.person.booking_percentage }}%</td>
      </tr>
      {% if view.can_see_everything %}
        <tr>
          <th>Uren over budget geboekt (extern)</th>
          <td>{{ view.pyc.overbooked|hours }}</td>
        </tr>
        <tr>
          <th>Percentage extern</th>
          <td>{{ view.pyc.billable_percentage }}%</td>
        </tr>
        <tr>
          <th>Percentage target</th>
          <td>{{ view.pyc.target_percentage }}%</td>
        </tr>
      {% endif %}
      {% if view.can_see_financials %}
        <tr>
          <th>Target</th>
          <td>{{ view.person.target|money }}</td>
        </tr>
        <tr>
          <th>Standaard uurtarief</th>
          <td>{{ view.person.standard_hourly_tariff|money }}</td>
        </tr>
        <tr>
          <th>Minimum uurtarief</th>
          <td>{{ view.person.minimum_hourly_tariff|money }}</td>
        </tr>
      {% endif %}
      <tr>
        <th>Extra rollen</th>
        <td>{{ view.extra_roles }}</td>
      </tr>
    </tbody>
  </table>
  {% if view.can_edit_person %}
    <div>
      <a href="{% url 'trs.person.edit' pk=view.person.pk %}"
         class="btn btn-default">
        <span class="glyphicon glyphicon-pencil"></span>
        Wijzig
      </a>
      &nbsp;
      <a href="{% url 'trs.person.target' pk=view.person.pk %}"
         class="btn btn-default">
        <span class="glyphicon glyphicon-pencil"></span>
        Wijzig target/werkweek/uurtarief
      </a>
    </div>
  {% endif %}

  <h2>Actieve projecten</h2>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Project</th>
        <th>Omschrijving</th>
        <th></th>
        <th class="text-right">Toegekend</th>
        <th class="text-right">Geboekt</th>
        {% if view.can_see_financials %}
          <th class="text-right">Tarief</th>
          <th class="text-right">Omzet</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for line in view.lines %}
        <tr>
          <td>
            {{ line.project.as_widget }}
          </td>
          <td>
            <span class="text-muted">{{ line.project.description }}</span>
          </td>
          <td>
            {% if line.is_project_leader %}
              <span title="Projectleider: gaat over de uren">PL</span>
            {% endif %}
            &nbsp;
            {% if line.is_project_manager %}
              <span title="Projectmanager: gaat over de financi&euml;n">PM</span>
            {% endif %}
          </td>
          <td class="text-right">{{ line.budget|hours }}</td>
          <td class="text-right
                     {% if line.is_overbooked %}danger{% endif %}">
            {{ line.booked|hours }}
          </td>
          {% if view.can_see_financials %}
            <td class="text-right">{{ line.hourly_tariff|money }}</td>
            <td class="text-right">{{ line.turnover|money }}</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
