{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block main-column %}
  <h1>
    {{ view.person.name }}
    {% if view.person.archived %}
      <span title="Werkt hier niet meer"
            class="text-muted glyphicon glyphicon-lock"></span>
    {% endif %}
  </h1>
  <table class="table borderless-table table-condensed"
         style="width: auto;">
    <tbody>
      <tr>
        <th>Werkweek</th>
        <td>{{ view.person.hours_per_week|hours }}</td>
      </tr>
      <tr>
        <th>Werkvoorraad op externe projecten</th>
        <td>{{ view.pyc.left_to_book|hours }}</td>
      </tr>
      {% if view.can_see_financials %}
        <tr>
          <th>Target</th>
          <td>{{ view.person.target|money }}</td>
        </tr>
        <tr>
          <th>Standaard uurtarief</th>
          <td>{{ view.person.standard_hourly_tariff|money }}</td>
        </tr>
        <tr>
          <th>Minimum uurtarief</th>
          <td>{{ view.person.minimum_hourly_tariff|money }}</td>
        </tr>
      {% endif %}
      {% if view.person.group %}
        <tr>
          <th>Groep</th>
          <td>{{ view.person.group }}</td>
        </tr>
      {% endif %}
      <tr>
        <th>Extra rollen</th>
        <td>{{ view.extra_roles }}</td>
      </tr>
    </tbody>
  </table>
  {% if view.can_edit_person %}
    <div>
      <a href="{% url 'trs.person.edit' pk=view.person.pk %}"
         class="btn btn-default">
        <span class="glyphicon glyphicon-pencil"></span>
        Wijzig
      </a>
      &nbsp;
      {% if view.can_edit_person_changes %}
        <a href="{% url 'trs.person.target' pk=view.person.pk %}"
           class="btn btn-default">
          <span class="glyphicon glyphicon-pencil"></span>
          Wijzig target/werkweek/uurtarief
        </a>
      {% endif %}
    </div>
  {% endif %}

  <h2>Projecten</h2>

  {% include "trs/filter-snippet.html" %}

  <table class="table table-hover table-condensed table-fixed-header">
    <thead class="header">
      <tr>
        <th>Project</th>
        <th>Omschrijving</th>
        <th></th>
        <th class="text-right">Toegekend</th>
        <th class="text-right">
          Geboekt<br>
          totaal
        </th>
        <th class="text-right">
          Geboekt<br>
          in {{ view.year }}
        </th>
        {% if view.can_see_financials %}
          <th class="text-right">Tarief</th>
          <th class="text-right">Omzet</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for line in view.lines %}
        <tr>
          <td>
            {{ line.project.as_widget }}
          </td>
          <td>
            <span class="text-muted">{{ line.project.description }}</span>
          </td>
          <td>
            {% if line.is_project_leader %}
              <span title="Projectleider: gaat over de uren">PL</span>
            {% endif %}
            &nbsp;
            {% if line.is_project_manager %}
              <span title="Projectmanager: gaat over de financi&euml;n">PM</span>
            {% endif %}
          </td>
          <td class="text-right">{{ line.budget|hours }}</td>
          <td class="text-right
                     {% if line.is_overbooked %}danger{% endif %}"
              title="Voor {{ view.year }}: {{ line.booked_previous_years|hours }}">
            {{ line.booked|hours }}
          </td>
          <td class="text-right
                     {% if line.is_overbooked %}danger{% endif %}">
            {{ line.booked_this_year|hours }}
          </td>
          {% if view.can_see_financials %}
            <td class="text-right">{{ line.hourly_tariff|money }}</td>
            <td class="text-right">{{ line.turnover|money }}</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
