{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block main-column %}
  <h1>
    {{ view.project.code }}
    <small>{{ view.project.description }}</small>
  </h1>
  <dl>
    <dt>Opdrachtgever</dt>
    <dd>{{ view.project.principal }}</dd>
    <dt>Startweek</dt>
    <dd>{{ view.project.start.friendly|default:"Niet ingevuld" }}</dd>
    <dt>Laatste week</dt>
    <dd>{{ view.project.end.friendly|default:"Niet ingevuld" }}</dd>
    <dt>Goedgekeurd</dt>
    <dd>
      {% if view.project.is_accepted %}
        Het project is goedgekeurd door PL en PM. In principe wordt er nu
        niets meer veranderd aan teamsamenstelling, uurtarief en
        urenverdeling.
      {% else %}
        Het project is nog niet afgekaart door PL en PM. Urenverdeling,
        uurtarief en teamsamenstelling kunnen allemaal nog veranderd worden.
      {% endif %}
    </dd>
  </dl>

  {% if view.can_edit_project %}
    <p>
      <a href="{% url 'trs.project.edit' pk=view.project.pk %}"
         class="btn btn-default">
        Project bewerken
      </a>
    </p>
  {% endif %}

  <h2>Projectteam</h2>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Wie</th>
          <th class="text-right">Uren</th>
          <th class="text-right">Geboekt</th>
          {% if view.can_see_financials %}
            <th class="text-right">Tarief</th>
            <th class="text-right">Omzet</th>
            <th class="text-right">Verlies</th>
          {% endif %}
        </tr>
      </thead>

      <tbody>
        {% for line in view.person_projects %}
          <tr>
            <td>
              {{ line.person.as_widget }}
              {% if line.is_project_leader %}
                &nbsp;<span class="label label-default">PL</span>
              {% endif %}
              {% if line.is_project_manager %}
                &nbsp;<span class="label label-default">PM</span>
              {% endif %}
            </td>
            <td class="text-right">{{ line.budget|hours }}</td>
            <td class="text-right
                       {% if line.is_overbooked %}text-danger{% endif %}">
              {{ line.booked|hours }}
            </td>
            {% if view.can_see_financials %}
              <td class="text-right">{{ line.hourly_tariff|money }}</td>
              <td class="text-right">{{ line.turnover|money }}</td>
              <td class="text-right">{{ line.loss|money }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>

      {% if view.can_see_financials %}
        <tfoot>
          <tr>
            <th>Totaal</th>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <th class="text-right">{{ view.total_turnover|money }}</th>
            <th class="text-right">{{ view.total_loss|money }}</th>
          </tr>
        </tfoot>
      {% endif %}
    </table>

    {% if view.can_see_project_financials %}
      <p class="text-muted">
        Totaal beschikbaar (zie hieronder) is {{ view.subtotal|money }}.
        Huidige omzet is {{ view.total_turnover|money }},
        nog-te-boeken is {{ view.total_turnover_left|money }}.
        Dus er is nog <b>{{ view.amount_left|money }}</b> dat niet verdeeld is.
      </p>
    {% endif %}

    {% if view.can_edit_team %}
      <div>
        <a href="{% url 'trs.project.team' pk=view.project.pk %}"
           class="btn btn-default">
          Pas team aan
        </a>
      </div>
    {% endif %}
  </div>

  {% if view.can_see_project_financials %}
    <h2>Financi&euml;n</h2>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Beschrijving</th>
            <th>Wanneer</th>
            <th class="text-right">Bedrag</th>
          </tr>
        </thead>
        <tbody>
          {% for budget_assignment in view.project.budget_assignments.all %}
            <tr>
              <td>{{ budget_assignment.description }}</td>
              <td>{{ budget_assignment.year_week.friendly }}</td>
              <td class="text-right">{{ budget_assignment.budget|money }}</td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Totaal</th>
            <th></th>
            <th class="text-right">{{ view.subtotal|money }}</th>
          </tr>
        </tfoot>
      </table>
    </div>

    {% if view.can_edit_financials %}
      <div>
        <a href="{% url 'trs.project.add_budget' pk=view.project.pk %}"
           class="btn btn-default">
          Voeg budgetwijziging toe
        </a>
      </div>
    {% endif %}

    <h2>Facturen</h2>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Datum</th>
            <th>Factuurnummer</th>
            <th>Omschrijving</th>
            <th class="text-right">Exclusief</th>
            <th class="text-right">BTW</th>
            <th class="text-right">Inclusief</th>
            <th>Betaald</th>
          </tr>
        </thead>
        <tbody>
          {% for invoice in view.project.invoices.all %}
            <tr>
              <td>{{ invoice.date }}</td>
              <td>
                <a href="{% url 'trs.invoice.edit' project_pk=view.project.pk pk=invoice.pk %}">
                  {{ invoice.number }}
                </a>
              </td>
              <td>{{ invoice.description }}</td>
              <td class="text-right">{{ invoice.amount_exclusive|money }}</td>
              <td class="text-right">{{ invoice.vat|money }}</td>
              <td class="text-right">{{ invoice.amount_inclusive|money }}</td>
              <td>{{ invoice.payed|default:'Nee' }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    {% if view.can_edit_financials %}
      <div>
        <a href="{% url 'trs.invoice.add' project_pk=view.project.pk %}"
           class="btn btn-default">
          Voeg factuur toe
        </a>
      </div>
    {% endif %}

  {% endif %}

{% endblock %}
