{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block main-column %}
  <h1>
    {{ view.project.code }}
    {% if view.project.archived %}
      <span title="Project is gearchiveerd"
            class="text-muted glyphicon glyphicon-lock"></span>
    {% endif %}
    {% if project.is_accepted %}
      <span title="Project is afgekaart"
            class="text-muted glyphicon glyphicon-ok"></span>
    {% endif %}
    {% if project.is_subsidized %}
      <span title="Subsidieproject"
            class="text-muted glyphicon glyphicon-usd"></span>
    {% endif %}
    <small>{{ view.project.description }}</small>
  </h1>
  <table class="table borderless-table">
    <tbody>
      <tr>
        <th>Opdrachtgever</th>
        <td>{{ view.project.principal }}</td>
      </tr>
      <tr>
        <th>Opdrachtsom</th>
        <td>{{ view.project.contract_amount|money }}</td>
      </tr>
      <tr>
        <th>Startweek</th>
        <td>{{ view.project.start.friendly|default:"Niet ingevuld" }}</td>
      </tr>
      <tr>
        <th>Laatste week</th>
        <td>{{ view.project.end.friendly|default:"Niet ingevuld" }}</td>
      </tr>
      <tr>
        <th>Goedgekeurd</th>
        <td>
          {% if view.project.is_accepted %}
            Het project is goedgekeurd door PL en PM. In principe worth er nu
            niets meer veranderd aan teamsamenstelling, uurtarief en
            urenverdeling.
          {% else %}
            Het project is nog niet afgekaart door PL en PM. Urenverdeling,
            uurtarief en teamsamenstelling kunnen allemaal nog veranderd worden.
          {% endif %}
        </td>
      </tr>
      {% if view.project.remark %}
        <tr>
          <th>Opmerkingen</th>
          <td>{{ view.project.remark|linebreaksbr }}</td>
        </tr>
      {% endif %}
    </tbody>
  </table>

  {% if view.can_edit_project %}
    <p>
      <a href="{% url 'trs.project.edit' pk=view.project.pk %}"
         class="btn btn-default">
        <span class="glyphicon glyphicon-pencil"></span>
        Project bewerken
      </a>
    </p>
  {% endif %}

  <h2>Projectteam</h2>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Wie</th>
          <th></th>
          <th class="text-right">Toegekend</th>
          <th class="text-right">Geboekt</th>
          {% if view.can_see_financials %}
            <th class="text-right">Tarief</th>
            <th class="text-right">Omzet</th>
            <th class="text-right">Verlies</th>
          {% endif %}
        </tr>
      </thead>

      <tbody>
        {% for line in view.ppcs %}
          <tr>
            <td>
              {{ line.person.as_widget }}
            </td>
            <td>
              {% if line.is_project_leader %}
                <span title="Projectleider: gaat over de uren">PL</span>
              {% endif %}
              &nbsp;
              {% if line.is_project_manager %}
                <span title="Projectmanager: gaat over de financi&euml;n">PM</span>
              {% endif %}
            </td>
            <td class="text-right">{{ line.budget|hours }}</td>
            <td class="text-right
                       {% if line.is_overbooked %}danger{% endif %}">
              {{ line.booked|hours }}
            </td>
            {% if view.can_see_financials %}
              {% if line.hourly_tariff >= line.desired_hourly_tariff %}
                <td class="text-right">
                  {{ line.hourly_tariff|money }}
                </td>
              {% else %}
                <td class="text-right danger">
                  <span title="Gewenst: {{ line.desired_hourly_tariff }}.">
                    {{ line.hourly_tariff|money }}
                  </span>
                </td>
              {% endif %}
              <td class="text-right">{{ line.turnover|money }}</td>
              <td class="text-right">{{ line.loss|money }}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>

      {% if view.can_see_financials %}
        <tfoot>
          <tr>
            <th>Totaal</th>
            <td></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <td class="text-right"></td>
            <th class="text-right">{{ view.total_turnover|money }}</th>
            <th class="text-right">{{ view.total_loss|money }}</th>
          </tr>
        </tfoot>
      {% endif %}
    </table>

    {% if view.can_see_project_financials %}
      <p class="text-muted">
        Totaal beschikbaar (zie hieronder) is {{ view.subtotal|money }}.
        Huidige omzet is {{ view.total_turnover|money }},
        nog-te-boeken is {{ view.total_turnover_left|money }}.
        Dus er is nog <b>{{ view.amount_left|money }}</b> dat niet verdeeld is.
      </p>
    {% endif %}

    {% if view.can_edit_team %}
      <div>
        <a href="{% url 'trs.project.team' pk=view.project.pk %}"
           class="btn btn-default">
          <span class="glyphicon glyphicon-pencil"></span>
          Pas team aan
        </a>
      </div>
    {% endif %}
  </div>

  {% if view.can_see_project_financials %}
    <h2>Begroting</h2>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Beschrijving</th>
            <th>Wanneer</th>
            <th class="text-right">Bedrag</th>
          </tr>
        </thead>
        <tbody>
          {% for budget_assignment in view.project.budget_assignments.all %}
            <tr>
              <td>{{ budget_assignment.description }}</td>
              <td>{{ budget_assignment.year_week.friendly }}</td>
              <td class="text-right">{{ budget_assignment.budget|money }}</td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Totaal</th>
            <th></th>
            <th class="text-right">{{ view.subtotal|money }}</th>
          </tr>
        </tfoot>
      </table>
    </div>

    {% if view.can_edit_financials %}
      <div>
        <a href="{% url 'trs.project.add_budget' pk=view.project.pk %}"
           class="btn btn-default">
          <span class="glyphicon glyphicon-plus"></span>
          Voeg budgetwijziging toe
        </a>
      </div>
    {% endif %}

    <h2>Facturen</h2>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Datum</th>
            <th>Factuurnummer</th>
            <th>Omschrijving</th>
            <th class="text-right">Exclusief</th>
            <th class="text-right">BTW</th>
            <th class="text-right">Inclusief</th>
            <th>Betaald</th>
          </tr>
        </thead>
        <tbody>
          {% for invoice in view.project.invoices.all %}
            <tr>
              <td>{{ invoice.date }}</td>
              <td>
                <a href="{% url 'trs.invoice.edit' project_pk=view.project.pk pk=invoice.pk %}">
                  {{ invoice.number }}
                </a>
              </td>
              <td>{{ invoice.description }}</td>
              <td class="text-right">{{ invoice.amount_exclusive|money }}</td>
              <td class="text-right">{{ invoice.vat|money }}</td>
              <td class="text-right">{{ invoice.amount_inclusive|money }}</td>
              <td>{{ invoice.payed|default:'Nee' }}</td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Totaal</th>
            <th></th>
            <th></th>
            <th class="text-right">{{ view.total_invoice_exclusive|money }}</th>
            <th></th>
            <th class="text-right">{{ view.total_invoice_inclusive|money }}</th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>

    {% if view.can_edit_financials %}
      <div>
        <a href="{% url 'trs.invoice.add' project_pk=view.project.pk %}"
           class="btn btn-default">
          <span class="glyphicon glyphicon-plus"></span>
          Voeg factuur toe
        </a>
      </div>
    {% endif %}

  {% endif %}

{% endblock %}
