{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block main-column %}
  <h1>Projecten</h1>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Project</th>
        <th class="text-right">Geboekt</th>
        <th class="text-right">Werkvoorraad</th>
        <th class="text-right">Verliesuren</th>
        <th class="text-right">Kloppende tarieven</th>
      </tr>
    </thead>
    <tbody>
      {% for line in view.lines %}
        <tr>
          <td>
            {{ line.project.as_widget }}<br>
            <span class="text-muted">{{ line.project.description }}</span>
          </td>
          <td class="text-right">
            {{ line.booked|hours }}
          </td>
          <td class="text-right">
            {{ line.left_to_book|hours }}
          </td>
          <td class="text-right {{ line.klass }}">
            {{ line.overbooked|hours }}
          </td>
          <td class="text-right {{ line.tariffs_klass }}">
            {{ line.tariffs_ok_percentage }}%
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <ul>
    {% for project in view.projects %}
      <li></li>
    {% endfor %}
  </ul>
  {% if view.can_add_project %}
    <hr>
    <p>
      <a href="{% url 'trs.project.new' %}" class="btn btn-default">
        Voeg nieuw project toe
      </a>
    </p>
  {% endif %}
{% endblock %}
