{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block full-width %}
  <h1>
    {{ view.title }}
    {% if view.small_title %}
      <small>({{ view.small_title }})</small>
    {% endif %}
    <a class="pull-right"
       title="Download .csv"
       href="{% url 'trs.projects.csv' %}?{{ view.request.GET.urlencode }}">
      <span class="glyphicon glyphicon-download-alt"></span>
    </a>
  </h1>

  <div class="text-muted">
    {% if not view.filters.archived %}
      <span>Actieve projecten</span> |
      <a href="?archived=true">Gearchiveerde projecten</a>
    {% else %}
      <a href="?">Toon actieve projecten</a>
      <span>Gearchiveerde projecten</span> |
    {% endif %}
  </div>
  {# The filter list in 'projects-simple.html' is less elaborate #}

  <div class="text-muted">
    Handige filters:
    <a href="?is_subsidized=true">
      Subsidieprojecten
    </a> |
    <a href="?is_accepted=false">
      Nog niet goedgekeurde projecten
    </a> |
    <a href="?startup_meeting_done=false">
      Startoverleg nog niet geweest
    </a>
  </div>

  <div class="text-muted">
    Filter op groep:
    {% for id, name in view.group_choices %}
      <a href="?group={{ id }}">{{ name }}</a> |
    {% endfor %}
    <a href="?group=geen">zonder groep</a>
  </div>

  {% if view.can_add_project %}
    <br>
    <div>
      <a href="{% url 'trs.project.new' %}" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        Voeg nieuw project toe
      </a>
    </div>
  {% endif %}


  <table class="table table-hover table-condensed table-fixed-header">
    <thead class="header">
      <tr>
        <th>Project</th>
        <th>Omschrijving</th>
        <th class="text-right">Verlies-<br>uren</th>
        <th class="text-right">Opdracht-<br>som</th>
        <th class="text-right">Omzet</th>
        <th class="text-right">Extra<br>kosten</th>
        <th class="text-right">Reserve-<br>ringen</th>
        <th class="text-right"
            title="Inclusief nog niet betaalde facturen">Gefactureerd</th>
        <th class="text-right">
          Gefact.<br>
          t.o.v.<br>
          opdracht-<br>
          som
        </th>
        <th class="text-right">
          Gefact.<br>
          t.o.v.<br>
          omzet +<br>
          kosten
        </th>
      </tr>
    </thead>
    <tbody>
      {% for line in view.lines %}
        <tr>
          <td style="white-space: nowrap;">
            {{ line.project.as_widget }}
          </td>
          <td>
            <span class="text-muted"
                  {% if line.project.description|length > 50 %}
                    title="{{ line.project.description }}"
                  {% endif %}>
              {{ line.project.description|truncatechars:50 }}
            </span>
          </td>
          <td class="text-right {{ line.klass }}">
            {{ line.project.overbooked|hours }}
          </td>
          <td {% if view.project.contract_amount or view.project.contract_amount_ok %}
                class="text-right"
              {% else %}
                class="text-right danger"
                title="Opdrachtsom is nog niet goedgekeurd"
              {% endif %}>
            {{ line.project.contract_amount|money }}
          </td>
          <td class="text-right">
            {{ line.turnover|money }}
          </td>
          <td class="text-right">
            {{ line.costs|money }}
          </td>
          <td class="text-right">
            {{ line.reserved|money }}
          </td>
          <td class="text-right">
            {{ line.invoice_amount|money_with_decimal }}
          </td>
          <td class="text-right">
            {% if line.invoice_amount_percentage != None %}
              {{ line.invoice_amount_percentage }}%
            {% endif %}
          </td>
          <td class="text-right">
            {% if line.invoice_versus_turnover_percentage != None %}
              {{ line.invoice_versus_turnover_percentage }}%
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>Totaal</th>
        <th colspan="3"></th>
        <th class="text-right">{{ view.totals.turnover|money }}</th>
        <th class="text-right">{{ view.totals.costs|money }}</th>
        <th class="text-right">{{ view.totals.reserved|money }}</th>
        <th colspan="2"></th>
      </tr>
    </tfoot>
  </table>
{% endblock %}
