{% if view.projects.has_other_pages %}
  <ul class="pager">
    {% if view.projects.has_previous %}
      <li>
        <a href="?page={{ view.projects.previous_page_number }}&{{ view.current_get_params }}">
          Vorige
        </a>
      </li>
    {% else %}
      <li class="disabled">
        <a href="#">
          Vorige
        </a>
      </li>
    {% endif %}
    <li>
      Pagina {{ view.projects.number }} van
        {{ view.projects.paginator.num_pages }}.
    </li>
    {% if view.projects.has_next %}
      <li>
        <a href="?page={{ view.projects.next_page_number }}&{{ view.current_get_params }}">
          Volgende
        </a>
      </li>
    {% else %}
      <li class="disabled">
        <a href="#">
          Volgende
        </a>
      </li>
    {% endif %}
  </ul>
{% endif %}
