{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block main-column %}
  <h1>Projecten</h1>
  <table class="table table-hover table-condensed">
    <thead>
      <tr>
        <th>Project</th>
        <th>Omschrijving</th>
        <th class="text-right">Opdrachtsom</th>
        <th class="text-right">Verliesuren</th>
        <th>Voortgang</th>
      </tr>
    </thead>
    <tbody>
      {% for line in view.lines %}
        <tr>
          <td>
            {{ line.project.as_widget }}
          </td>
          <td>
            <span class="text-muted">{{ line.project.description }}</span>
          </td>
          <td class="text-right">
            {{ line.project.contract_amount|money }}
          </td>
          <td class="text-right">
            {{ line.project.overbooked|hours }}
          </td>
          <td title="{{ line.progress_explanation }}">
            <div class="progress" style="height: 30px;">
              <div class="progress-bar progress-bar-{{ line.klass }}"
                   role="progressbar"
                   style="{{ line.inner_bar_style }}">
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  {% if view.can_add_project %}
    <hr>
    <p>
      <a href="{% url 'trs.project.new' %}" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span>
        Voeg nieuw project toe
      </a>
    </p>
  {% endif %}
{% endblock %}
