{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block full-width %}

  <div class="modal fade" id="remarksmodal">
  </div>

  <h1>
    {{ view.project.code }}
    {% if view.project.archived %}
      <span title="Project is gearchiveerd"
            class="text-muted glyphicon glyphicon-lock"></span>
    {% endif %}
    {% if view.project.is_subsidized %}
      <span title="Subsidieproject"
            class="text-muted glyphicon glyphicon-usd"></span>
    {% endif %}
    {% if view.project.hidden %}
      <span title="Afgeschermd project: je ziet elkaars uren niet"
            class="text-muted glyphicon glyphicon-ban-circle"></span>
    {% endif %}
    {% if view.project.hourless %}
      <span title="Uren tellen niet mee voor totaal"
            class="text-muted glyphicon glyphicon-picture"></span>
    {% endif %}
    <small>{{ view.project.description }}</small>
    {% if view.can_see_project_financials %}
      <a class="pull-right"
         title="Download .csv"
         href="{% url 'trs.project.csv' pk=view.project.id %}">
        <span class="glyphicon glyphicon-download-alt"></span>
      </a>
    {% endif %}
    {% if view.project.is_subsidized %}
      {% if view.can_see_everything %}
        <a class="pull-right"
           title="Download subsidie-verantwoordings-.csv"
           href="{% url 'trs.project.persons.csv' pk=view.project.id %}">
          <span class="glyphicon text-muted glyphicon-download-alt"></span>
        </a>
      {% endif %}
    {% endif %}
  </h1>

  {# We use the full-width block, so we miss the regular messages part. #}
  {# So we need to add it ourselves. #}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissable">
      <button type="button"
              class="close"
              data-dismiss="alert"
              aria-hidden="true">&times;</button>
      {{ message }}
    </div>
  {% endfor %}

  <table class="table borderless-table table-condensed"
         style="width: auto;">
    <tbody>
      <tr>
        <th>Opdrachtgever</th>
        <td>{{ view.project.principal }}</td>
      </tr>
      {% if view.show_bid_and_confirmation_dates %}
	<tr>
	  <th>Offerte verzonden</th>
	  <td>{{ view.project.bid_send_date|default:"Nog niet" }}</td>
	</tr>
	<tr>
	  <th>Opdrachtbevestiging binnen</th>
	  <td>{{ view.project.confirmation_date|default:"Nog niet" }}</td>
	</tr>
      {% endif %}
      <tr>
        <th>Opdrachtsom</th>
        <td>
          {{ view.project.contract_amount|money_with_decimal }}
        </td>
      </tr>

      {% if view.project.wbso_project %}
        <tr>
          <th>
            WBSO project
          </th>
          <td>
            {% if view.can_see_everything %}
              <a href="{% url 'trs.wbso_project' pk=view.project.wbso_project.id %}">
                {{ view.project.wbso_project.title }}
                (nummer {{ view.project.wbso_project.number }})
              </a>
            {% else %}
              {{ view.project.wbso_project.title }}
              (nummer {{ view.project.wbso_project.number }})
            {% endif %}
          </td>
        </tr>
      {% endif %}

      {% if view.project.group %}
        <tr>
          <th>Groep</th>
          <td>{{ view.project.group }}</td>
        </tr>
      {% endif %}
      <tr>
        <th>Startweek</th>
        <td>{{ view.project.start.friendly|default:"Niet ingevuld" }}</td>
      </tr>
      <tr>
        <th>Laatste week</th>
        <td>{{ view.project.end.friendly|default:"Niet ingevuld" }}</td>
      </tr>
      <tr>
        <th>Startoverleg</th>
        <td>
          {% if view.project.startup_meeting_done %}
            <span class="glyphicon glyphicon-ok"></span>
            Het startoverleg heeft plaatsgevonden
          {% else %}
            <span class="glyphicon glyphicon-remove"></span>
          {% endif %}
        </td>
      </tr>
      <tr>
        <th>Goedgekeurd</th>
        <td>
          {% if view.project.is_accepted %}
            <span class="text-success glyphicon glyphicon-ok"></span>
            Het project is goedgekeurd door de PM.
          {% else %}
            <span class="glyphicon glyphicon-remove"></span>
          {% endif %}
        </td>
      </tr>

      {% if view.project.rating_projectteam %}
        <tr>
          <th>
            Rapportcijfer v/h projectteam
          </th>
          <td>
            {{ view.project.rating_projectteam }}
          </td>
        </tr>
        {% if view.project.rating_projectteam_reason %}
          <tr>
            <td>
            </td>
            <td>
              {{ view.project.rating_projectteam_reason|linebreaksbr }}
            </td>
          </tr>
        {% endif %}
      {% endif %}
      {% if view.project.rating_customer %}
        <tr>
          <th>
            Rapportcijfer v/d klant
          </th>
          <td>
            {{ view.project.rating_customer }}
          </td>
        </tr>
        {% if view.project.rating_customer_reason %}
          <tr>
            <td>
            </td>
            <td>
              {{ view.project.rating_customer_reason|linebreaksbr }}
            </td>
          </tr>
        {% endif %}
      {% endif %}

      <tr>
        <th>
          {% if view.can_edit_project %}
            <a data-toggle="modal"
               href="{% url 'trs.project.editremarks' pk=view.project.pk %}"
               data-target="#remarksmodal">
              <span class="glyphicon glyphicon-pencil"></span>
              Opmerkingen
            </a>
          {% else %}
            Opmerkingen
          {% endif %}
        </th>
        <td>{{ view.project.remark|linebreaksbr }}</td>
      </tr>
      <tr>
        <th>
          {% if view.can_edit_project %}
            <a data-toggle="modal"
               href="{% url 'trs.project.editremarks' pk=view.project.pk %}"
               data-target="#remarksmodal">
              <span class="glyphicon glyphicon-pencil"></span>
              Financiële opmerkingen
            </a>
          {% else %}
            Financiële opmerkingen
          {% endif %}
        </th>
        <td>{{ view.project.financial_remark|linebreaksbr }}</td>
      </tr>
    </tbody>
  </table>

  {% if view.can_edit_project %}
    <p>
      <a href="{% url 'trs.project.edit' pk=view.project.pk %}"
         class="btn btn-default">
        <span class="glyphicon glyphicon-pencil"></span>
        Project bewerken
      </a>
    </p>
  {% endif %}

  {% if view.can_view_team %}
    {% if not view.can_see_project_financials %}
      <h2>Projectteam</h2>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th class="text-right">Toegekend</th>
              <th class="text-right">&nbsp;&nbsp;&nbsp;</th>
              <th class="text-right">Geboekt</th>
            </tr>
          </thead>

          <tbody>
            {% for line in view.lines %}
              <tr>
                <td>
                  {{ line.person.as_widget }}
                </td>
                <td>
                  {% if line.is_project_leader %}
                    <span title="Projectleider: gaat over de uren">PL</span>
                    &nbsp;
                  {% endif %}
                  {% if line.is_project_manager %}
                    <span title="Projectmanager: gaat over de financi&euml;n">PM</span>
                  {% endif %}
                </td>
                <td class="text-right">{{ line.budget|hours }}</td>
                <td class="text-right">&nbsp;&nbsp;&nbsp;</td>
                <td class="text-right
                           {% if line.is_overbooked %}danger{% endif %}">
                  {{ line.booked|hours }}
                </td>
              </tr>
            {% endfor %}
          </tbody>

        </table>
      </div>

    {% endif %}
    {% if view.can_see_project_financials %}

      <h2 id="budget">
        Projectbegroting
        {% if not view.project.budget_ok %}
          <span class="{{ view.project.budget_not_ok_style }} glyphicon glyphicon-warning-sign"
                title="Budget is niet goed verdeeld"></span>
        {% endif %}
      </h2>

      {% if view.can_edit_project and view.project.is_accepted %}
        <p>
          Het project is goedgekeurd, dus de begroting kan niet meer worden
          aangepast.
          De PM zal het
          <a href="{% url 'trs.project.edit' pk=view.project.pk %}#id_is_accepted">
            goedkeurings-vinkje
          </a>
          eerst uit moeten zetten.
        </p>
      {% endif %}


      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th colspan="7"></th>
              <th class="text-right">Inkomsten</th>
              <th class="text-right">Kosten</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <th colspan="7">Opdrachtsom</th>
              <td class="text-right">
                {{ view.project.contract_amount|money_with_decimal }}
              </td>
              <td></td>
            </tr>

            <tr>
              <th colspan="9">
                Kosten derden
              </th>
            </tr>
            {% for third_party_estimate in view.project.third_party_estimates.all %}
              <tr>
                <td colspan="8">
                  &nbsp;&nbsp;&nbsp;
                  {{ third_party_estimate.description|default:'Niet ingevuld' }}
                </td>
                <td class="text-right">{{ third_party_estimate.amount|money_with_decimal }}</td>
                </td>
              </tr>
            {% empty %}
              <tr>
                <td colspan="9">
                  &nbsp;&nbsp;&nbsp;
                  Geen
                </td>
              </tr>
            {% endfor %}

            <tr>
              <th colspan="7">Netto opdrachtsom</th>
              <td class="text-right">
                {{ view.project.net_contract_amount|money_with_decimal }}
              </td>
              <td></td>
              </td>
            </tr>
          </tbody>

          <tbody>
            <tr>
              <th>Personele kosten</th>
              <th></th>
              <th class="text-right">Toegekend</th>
              <th class="text-right">Geboekt</th>
              <th class="text-right">Tarief</th>
              <th class="text-right">Omzet</th>
              <th class="text-right">Verlies</th>
              <th colspan="2"></th>
            </tr>

            {% for line in view.lines %}
              <tr>
                <td>
                  &nbsp;&nbsp;&nbsp;
                  {{ line.person.as_widget }}
                </td>
                <td>
                  {% if line.person.to_book.friendly %}
                    <span class="badge"
                          title="Achter met boeken: {{ line.person.to_book.friendly }}">
                      {{ line.person.to_book.short }}
                    </span>
                  {% endif %}
                  {% if line.is_project_leader %}
                    <span title="Projectleider: gaat over de uren">PL</span>
                    &nbsp;
                  {% endif %}
                  {% if line.is_project_manager %}
                    <span title="Projectmanager: gaat over de financi&euml;n">PM</span>
                  {% endif %}
                </td>

                <td class="text-right">{{ line.budget|hours }}</td>
                <td class="text-right
                           {% if line.is_overbooked %}danger{% endif %}">
                  {{ line.booked|hours }}
                </td>
                {% if line.desired_hourly_tariff <= line.hourly_tariff  %}
                  <td class="text-right">
                    {{ line.hourly_tariff|money }}
                  </td>
                {% else %}
                  <td class="text-right danger">
                    <span title="Gewenst: {{ line.desired_hourly_tariff }}.">
                      {{ line.hourly_tariff|money }}
                    </span>
                  </td>
                {% endif %}
                <td class="text-right">{{ line.turnover|money }}</td>
                <td class="text-right">{{ line.loss|money }}</td>
                <td class="text-right">
                  &nbsp;  {# costs #}
                </td>
                <td class="text-right">
                  {{ line.planned_turnover|money_with_decimal }}
                </td>
              </tr>
            {% endfor %}
	    <tr>
	      <td colspan="8">&nbsp;&nbsp;&nbsp;Reservering</td>
	      <td class="text-right">
		{{ view.project.reservation|money_with_decimal }}
	    </tr>

	    <tr>
	      <th>
		Subtotaal personele kosten
	      </th>
	      <td>
		{{ view.project.person_costs_incl_reservation|money_with_decimal }}
	      </td>
	      <td colspan="7">
	      </td>
	    </tr>
          </tbody>

	  <tbody>
	    <tr>
	      <th colspan="9">Overige kosten</th>
	    </tr>
	    {% for budget_item in view.project.budget_items.all %}
	      <tr>
		<td colspan="7">
		  &nbsp;&nbsp;&nbsp;
		  {{ budget_item.description|default:'Niet ingevuld' }}
		  {% if budget_item.to_project %}
		    naar {{ budget_item.to_project.as_widget }}
		  {% endif %}
		</td>
		{% if budget_item.amount >= 0 %}
		  <td class="text-right"></td>
		  <td class="text-right">{{ budget_item.amount|money_with_decimal }}</td>
		{% else %}
		  <td class="text-right">{{ budget_item.amount_as_income|money_with_decimal }}</td>
		  <td class="text-right"></td>
		{% endif %}
	      </tr>
	    {% empty %}
	      <tr>
		<td colspan="9">
		  &nbsp;&nbsp;&nbsp;
		  Geen
		</td>
	      </tr>
	    {% endfor %}

	    <tr>
	      <th colspan="9">Overboekingen van andere projecten</th>
	    </tr>
	    {% for budget_item in view.project.budget_transfers.all %}
	      <tr>
		<td colspan="7">
		  &nbsp;&nbsp;&nbsp;
		  {{ budget_item.description }}
		  van {{ budget_item.project.as_widget }}
		</td>
		{% if budget_item.amount < 0 %}
		  <td class="text-right"></td>
		  <td class="text-right">{{ budget_item.amount_as_income|money_with_decimal }}</td>
		{% else %}
		  <td class="text-right">{{ budget_item.amount|money_with_decimal }}</td>
		  <td class="text-right"></td>
		{% endif %}
	      </tr>
	    {% empty %}
	      <tr>
		<td colspan="9">
		  &nbsp;&nbsp;&nbsp;
		  Geen
		</td>
	      </tr>
	    {% endfor %}

	    <tr>
	      <th colspan="8">Software ontwikkeling</th>
	      <td class="text-right">
		{{ view.project.software_development|money_with_decimal }}
	    </tr>
	    <tr>
	      <th colspan="8">Afdracht</th>
	      <td class="text-right">
		{{ view.project.profit|money_with_decimal }}
	    </tr>
	  </tbody>

	  <tfoot>
	    <tr>
	      <th colspan="7">Totaal</th>
	      <th class="text-right">
		{{ view.total_income|money_with_decimal }}
	      </th>
	      <th class="text-right">
		{{ view.total_costs|money_with_decimal }}
	      </th>
	    </tr>
	    <tr>
	      <th colspan="8">
		Nog te verdelen
	      </th>
	      <td class="text-right">
		{{ view.project.left_to_dish_out|money_with_decimal }}
	      </td>
	    </tr>
	  </tfoot>

        </table>
      </div>

    {% endif %}

    <div>
      {% if view.can_edit_financials %}
        <a href="{% url 'trs.project.budget' pk=view.project.pk %}"
           class="btn btn-default">
          <span class="glyphicon glyphicon-pencil"></span>
          Pas projectbegroting aan
        </a>
        &nbsp;&nbsp;
      {% endif %}
    </div>
    {% if view.can_edit_and_see_everything and view.project.internal %}
      <p class="text-muted">
        Indien iedereen aan dit interne project toegevoegd moet worden:
        <a href="{% url 'trs.project.update-team' pk=view.project.pk %}">
          update het team automatisch
        </a>.
      </p>
    {% endif %}

  {% else %}
    <p>
      <span class="glyphicon glyphicon-warning-sign text-danger"></span>
      Dit project is afgeschermd, dus je kan niet zien wie er op dit project
      mogen boeken.
    </p>
  {% endif %}

  {% if view.can_see_project_financials %}
    <h2>Facturen</h2>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Datum</th>
            <th>Factuurnummer</th>
            <th></th>
            <th>Omschrijving</th>
            <th class="text-right">Exclusief</th>
            <th class="text-right">BTW</th>
            <th class="text-right">Inclusief</th>
            <th>Betaald</th>
          </tr>
        </thead>
        <tbody>
          {% for invoice in view.project.invoices.all %}
            <tr>
              <td>{{ invoice.date|date:"j b Y" }}</td>
              <td>
                {% if view.can_edit_financials %}
                  <a href="{% url 'trs.invoice.edit' project_pk=view.project.pk pk=invoice.pk %}">
                    {{ invoice.number }}
                  </a>
                {% else %}
                  {{ invoice.number }}
                {% endif %}
              </td>
              <td>
                {% if view.can_edit_financials %}
                  <a href="{% url 'trs.project.invoice-delete' pk=view.project.pk invoice_pk=invoice.pk %}">
                    <span class="glyphicon glyphicon-minus-sign text-danger"></span>
                  </a>
                {% endif %}
              </td>
              <td>{{ invoice.description }}</td>
              <td class="text-right">{{ invoice.amount_exclusive|money_with_decimal }}</td>
              <td class="text-right">{{ invoice.vat|money_with_decimal }}</td>
              <td class="text-right">{{ invoice.amount_inclusive|money_with_decimal }}</td>
              <td>{{ invoice.payed|date:"j b Y"|default:'Nee' }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="8">
                <i>Er zijn geen facturen toegevoegd.</i>
              </td>
            </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <th>Totaal</th>
            <th></th>
            <th></th>
            <th></th>
            <th class="text-right">{{ view.total_invoice_exclusive|money_with_decimal }}</th>
            <th></th>
            <th class="text-right">{{ view.total_invoice_inclusive|money_with_decimal }}</th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>

    {% if view.can_edit_project_financials %}
      <div>
        <a href="{% url 'trs.invoice.add' project_pk=view.project.pk %}"
           class="btn btn-default">
          <span class="glyphicon glyphicon-plus"></span>
          Voeg factuur toe
        </a>
      </div>
    {% endif %}



    <h2>Facturen kosten derden</h2>
    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Datum</th>
            <th>Factuurnummer</th>
            <th>{# 'delete' button #}</th>
            <th>Omschrijving</th>
            <th class="text-right">Bedrag</th>
            <th>Betaald</th>
          </tr>
        </thead>

        <tbody>
          {% for payable in view.project.payables.all %}
            <tr>
              <td>{{ payable.date|date:"j b Y" }}</td>
              <td>{{ payable.number }}</td>
              <td>
                {% if view.can_edit_financials %}
                  <a href="{% url 'trs.project.payable-delete' pk=view.project.pk payable_pk=payable.pk %}">
                    <span class="glyphicon glyphicon-minus-sign text-danger"></span>
                  </a>
                {% endif %}
              </td>
              <td>
                {% if view.can_edit_financials %}
                  <a href="{% url 'trs.payable.edit' project_pk=view.project.pk pk=payable.pk %}">
                    {{ payable.description|default:'Niet ingevuld' }}
                  </a>
                {% else %}
                  {{ payable.description|default:'Niet ingevuld' }}
                {% endif %}
              </td>
              <td class="text-right">{{ payable.amount|money_with_decimal }}</td>
              <td class="text-right">
                {{ payable.payed|date:"j b Y"|default:'Nee' }}
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="6">
                <i>Er zijn geen facturen toegevoegd.</i>
              </td>
            </tr>
          {% endfor %}
        </tbody>

        <tfoot>
          <tr>
            <th>Totaal</th>
            <th></th>
            <th></th>
            <th></th>
            <th class="text-right">
              {{ view.total_third_party_invoices|money_with_decimal }}
            </th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>


    {% if view.can_edit_financials %}
      <div>
        <a href="{% url 'trs.payable.add' project_pk=view.project.pk %}"
           class="btn btn-default">
          <span class="glyphicon glyphicon-plus"></span>
          Voeg factuur kosten derden toe
        </a>
      </div>
    {% endif %}


    {% if view.project.financial_remark %}
      <p>
        <b>Financiële opmerkingen:</b><br>
        {{ view.project.financial_remark|linebreaksbr }}
      </p>
    {% endif %}

  {% endif %}

{% endblock %}
