{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block main-column %}
  <h1>Projecten</h1>
  <div class="text-muted">
    {% if not view.filters.archived %}
      <span>Actieve projecten</span> |
      <a href="?archived=true">Gearchiveerde projecten</a>
    {% else %}
      <a href="?">Toon actieve projecten</a>
      <span>Gearchiveerde projecten</span> |
    {% endif %}
  </div>
  {# The filter list in 'projects.html' is more elaborate #}

  <table class="table table-hover table-condensed table-fixed-header">
    <thead class="header">
      <tr>
        <th>Project</th>
        <th>Omschrijving</th>
        <th class="text-right">Opdrachtsom</th>
      </tr>
    </thead>
    <tbody>
      {% for project in view.projects %}
        <tr>
          <td>{{ project.as_widget }}</td>
          <td>
            <span class="text-muted">{{ project.description }}</span>
          </td>
          <td class="text-right">
            {{ project.contract_amount|money }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
