{% if project.hidden and not view.can_see_everything %}
  {{ project.code }}
{% else %}
  <a href="{{ project.get_absolute_url }}"
     {% if not project.internal %}class="external-project"{% endif %}>
    {{ project.code }}
  </a>
{% endif %}

{% if project.archived %}
  <span title="Project is gearchiveerd"
        class="text-muted glyphicon glyphicon-lock"></span>
{% endif %}
{% if project.is_accepted %}
  <span title="Project is afgekaart"
        class="text-muted glyphicon glyphicon-ok"></span>
{% endif %}
{% if project.is_subsidized %}
  <span title="Subsidieproject"
        class="text-muted glyphicon glyphicon-usd"></span>
{% endif %}
{% if view.can_see_everything %}
  {% if project.overbooked_percentage > 5 %}
    <span
      {% if project.overbooked_percentage > 30 %}
        class="text-danger"
      {% else %}
        class="text-warning"
      {% endif %}>
      <span title="Project is al {{ project.overbooked_percentage }}% over budget"
            class="glyphicon glyphicon-warning-sign"></span>
    </span>
  {% endif %}
{% endif %}
