{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block main-column %}
  <h1>Reserveringen</h1>

  {% include "trs/filter-snippet.html" %}

  <table class="table">
    <thead>
      <tr>
        <th>Project</th>
        <th></th>
        <th class="text-right">Reservering</th>
      </tr>
    </thead>
    <tbody>
      {% for project in view.projects %}
        <tr>
          <td>
            {{ project.as_widget }}
          </td>
          <td>
            <span class="text-muted"
                  style="white-space: nowrap;"
                  {% if project.description|length > 35 %}
                    title="{{ project.description }}"
                  {% endif %}>
              &nbsp;
              {{ project.description|truncatechars:35 }}
            </span>
          </td>
          <td class="text-right">{{ project.reservation | money }}</td>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>Totaal</th>
        <th></th>
        <th class="text-right">{{ view.total_reservations | money }}</th>
      </tr>
    </tfoot>
  </table>

{% endblock %}
