{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block main-column %}
  <h1>{{ view.title }}</h1>
  {{ view.back_url }}

  {% if view.missing_internal_persons %}
    <form action="." method="post">
      {% csrf_token %}
      <p>
        Bij interne projecten moeten alle nu-actieve medewerkers toegevoegd
        worden (tegen nultarief). Deze medewerkers missen nu:
      </p>
      <ul>
        {% for person in view.missing_internal_persons %}
          <li>{{ person.as_widget }}</li>
        {% endfor %}
      </ul>

      <input type="submit"
             class="btn btn-primary"
             tabindex="1"
             value="Update project" /></th>
    </form>
  {% else %}
    <p>
      Er valt niets automatisch te updaten. Er zijn geen actieve medewerkers
      die nog niet toegevoegd zijn aan dit project.
    </p>
    {% if not view.project.internal %}
      <p>
        Oh, dit <i>is</i> geen intern project! Dan voegen we niemand toe,
        inderdaad.
      </p>
    {% endif %}
  {% endif %}

{% endblock %}

{% block overview-column %}
{% endblock %}
