<!DOCTYPE html>
{% load static %}
{% load trs_formatting %}
{% load django_htmx %}
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% htmx_script %}
    <title>{{ view.title }}</title>
    <link rel="stylesheet"
          href="{% static 'trs/trs.css' %}"
          type="text/css" />

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'trs/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'trs/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'trs/favicon-16x16.png' %}">
  </head>
  <body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
    <div class="max-w-screen-xl px-4 m-auto">

      {% include "trs/navbar.html" %}


      <!-- Start of main content + sidebar -->
      <div class="grid grid-cols-1 lg:grid-cols-[auto_10rem] lg:gap-5 mt-5">

        <main class="overflow-x-auto prose prose-nens"">

          {% for message in messages %}
            <div class="alert alert-soft alert-{{ message.tags }} alert-dismissable">
              <button type="button"
                      class="close"
                      data-dismiss="alert"
                      aria-hidden="true">&times;</button>
              {{ message }}
            </div>
          {% endfor %}

          {% block full-width %} <!-- TODO, really a dummy now. -->
            {% block main-column %}
              Main column
            {% endblock %}
          {% endblock %}
        </main>

        <div id="sidebar"><!-- Sidebar -->
          {% block overview-column %}

            {% if view.admin_override_active %}
              <div class="card">
                <h2>Admin override</h2>
                <p>
                  <a href=".?notall">Deactivate</a>
                </p>
              </div>
            {% endif %}

            <div id="enable-selection-pager" class="card hidden">
              <h2>Bladeren</h2>
              <a href="#">
                <span class="inline-icon icon-[mdi--playlist-plus]"
                      title="Blader door de selectie die links staat"></span>
                Start met lijst
              </a>
            </div>

            <div id="selection-pager" class="card hidden">
              <h2>Bladeren</h2>
              <div id="enable-selection-pager-refresh" class="hidden">
                <a href="#">
                  <span class="inline-icon icon-[mdi--playlist-edit]"></span>
                  Vervang lijst
                </a>
              </div>
              <div id="disable-selection-pager" class="hidden">
                <a href="#">
                  <span class="inline-icon icon-[mdi--playlist-remove]"></span>
                  Stop bladeren
                </a>
              </div>
              <div id="selection-pager-next" class="hidden">
                <a href="#">
                  &rarr; Volgende
                </a>
              </div>

              <div class="card-body p-1">
                <ul id="selection-pager-contents" class="list-unstyled">
                  <!-- Filled by trs.js when needed -->
                </ul>
              </div>

            </div>

            {% if view.sidebar_person %}

              <div class="card">
                <h2>Bij met boeken?</h2>
                {% if not view.is_custom_year %}
                  <div>
                    Nog te boeken:
                    <a href="{% url 'trs.booking.overview' pk=view.sidebar_person.id %}">
                      <span class="label label-{{ view.sidebar_person.to_book.klass }}"
                            title="{{ view.sidebar_person.to_book.hours }} uur">
                        {{ view.sidebar_person.to_book.friendly }}
                      </span>
                    </a>
                  </div>
                  <div class="text-muted">
                    (plus
                    {{ view.sidebar_person.to_book.left_to_book_this_week }}
                    uur in de lopende week)
                  </div>
                  {% if view.sidebar_person_previous_year_reminder %}
                    <div>
                      Van
                      <a href="{{ view.sidebar_person_previous_year_reminder.link }}">
                        vorig jaar
                      </a>
                      staan nog
                      <span class="label label-{{ view.sidebar_person_previous_year_reminder.klass }}">
                        {{ view.sidebar_person_previous_year_reminder.friendly }}
                      </span>
                      open.
                    </div>
                  {% endif %}
                {% else %}
                  <div>
                    {{ view.sidebar_person_year_info.all_bookings_percentage|floatformat }}% van je uren geboekt
                    ({{ view.sidebar_person_year_info.all_booked_hours }} van de
                    {{ view.sidebar_person_year_info.to_book_this_year }})
                  </div>
                {% endif %}
              </div>

              <div class="card">
                <h2>
                  {% if view.sidebar_person == view.active_person %}
                    Jouw overzicht
                  {% else %}
                    Overzicht
                    <small>van {{ view.sidebar_person.name }}</small>
                  {% endif %}
                  {% if view.is_custom_year %}
                    <small>({{ view.year }})</small>
                  {% endif %}
                </h2>

                <p class="mb-2">
                  Overzicht van
                  <a href="{% url 'trs.booking.overview' pk=view.active_person.id %}">
                    de boekingen</a>
                </p>
                <p class="mb-2">
                  Percentages
                  <a href="{% url 'trs.person.kpi' pk=view.sidebar_person.id %}">
                    intern/extern, target, enz.</a>
                </p>
                <p>
                  Afas en TRS qua vrije dagen gelijktrekken?
                  <a href="{% url 'trs.booking.free-overview' pk=view.sidebar_person.id %}">
                    Zie het verlofoverzicht</a>.
                </p>
              </div>
            {% endif %}

          {% endblock %}
        </div> <!-- End of sidebar -->
      </div> <!-- End of main content + sidebar -->

      <div class="divider"></div>

      <div class="prose prose-nens">
        De TRS code staat <a href="https://github.com/nens/trs">op
        github</a>.<br>

        Hier kan je <a href="https://github.com/nens/trs/issues">bugs
        melden</a>.<br>

        Bugs en vragen kan je ook mailen naar
        <a href="mailto:reinout.vanrees@nelen-schuurmans.nl">Reinout</a>.
      </div>

    </div>


    <script type="text/javascript">
      {% if view.for_selection_pager %}
        var for_selection_pager = {{ view.for_selection_pager | safe }};
      {% else %}
        var for_selection_pager = null;
      {% endif %}
    </script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{% static 'trs/table-fixed-header.js' %}"></script>
    <script src="{% static 'trs/trs.js' %}"></script>
  </body>
</html>
