{% extends "trs/base.html" %}
{% load static %}
{% load trs_formatting %}

{% block full-width %}
  <h1>{{ view.title }}</h1>

  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissable">
      <button type="button"
              class="close"
              data-dismiss="alert"
              aria-hidden="true">&times;</button>
      {{ message }}
    </div>
  {% endfor %}

  <div class="text-muted">
    Zie
    <a href="{% url 'trs.booking.overview' pk=view.person.id %}">
      jaaroverzicht boekingen
    </a>
    als je nog in oude weken moet boeken.
  </div>
  <div class="text-muted">
    Zie
    <a href="{% url 'trs.overviews' %}">
      de pagina met overzichten
    </a>
    voor de handige links die vroeger in de rechterkolom stonden.
  </div>

  <form action="."
        method="post"
        hx-boost="true"
        id="booking-form">
    {% csrf_token %}
    {% for error in form.errors %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    {% if view.editing_for_someone_else %}
      <div class="alert alert-danger">
        Pas, op: als je hier iets aanpast, pas je andermans boekingen aan!
      </div>
    {% endif %}

    <table id="booking-table"
           class="table table-hover table-condensed table-fixed-header">
      <thead class="header">
        <tr>
          <th>Code</th>
          <th>Omschrijving</th>
          <th class="text-right">Budget</th>
          <th class="text-right">Geboekt</th>
          <th class="text-right">Over</th>
          <th>&nbsp;</th>
          {% for year_week in view.year_weeks_to_display %}
            {% if forloop.counter == 3 %}

              {# display the dates #}
              {% for date in view.active_dates %}
                <th class="text-right">
                  {% if forloop.counter == 1 %}
                    <a href="{% url 'trs.booking' pk=view.person.id year=year_week.year week=year_week.week %}">
                      {% if year_week == view.this_year_week %}
                        Huidige
                      {% else %}
                        Week {{ year_week.week }}
                      {% endif %}
                    </a><br>
                  {% endif %}
                  {{ date|date:"D j b" }}
                </th>
              {% endfor %}

            {% else %}
              <th class="text-right">
                <a href="{% url 'trs.booking' pk=view.person.id year=year_week.year week=year_week.week %}">
                  {% if year_week == view.this_year_week %}
                    Huidige
                  {% else %}
                    Week {{ year_week.week }}
                  {% endif %}
                </a><br>
                <span class="year-date-hint">
                  {{ year_week.first_day|date:"j b" }}
                </span>
              </th>
            {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for line in view.lines %}
          <tr>
            <td>
              <a href="{{ line.project.get_absolute_url }}"
                 title="Voor {{ line.project.principal }}
{{ line.project.description }}"
                 {% if not line.project.internal %}class="external-project"{% endif %}>
                {{ line.project.code }}
              </a>
            </td>
            <td>
              <span class="text-muted"
                    style="white-space: nowrap;"
                    {% if line.project.description|length > 35 %}
                      title="{{ line.project.description }}"
                    {% endif %}>
                {{ line.project.description|truncatechars:35 }}
              </span>
            </td>
            <td class="text-right">{{ line.budget|hours }}</td>
            <td  class="text-right {% if line.is_overbooked %}danger{% endif %}">
              {{ line.booked_total|hours }}
            </td>
            <td class="text-right">{{ line.left_to_book|hours }}</td>
            <td style="border-left: 1px solid rgb(221, 221, 221);">&nbsp;&nbsp;&nbsp;</td>
            <td class="text-right text-muted">{{ line.hours0|hours }}</td>
            <td class="text-right text-muted">{{ line.hours1|hours }}</td>

            {% for field in line.fields %}
              <td class="text-right hour-for-total hour-for-col{{ forloop.counter }}">
                {{ field }}
                {% for error in field.errors %}
                  <div class="alert alert-danger">{{ error }}</div>
                {% endfor %}
                {% if field.is_hidden %}
                  {{ field.value|hours }}
                {% endif %}
              </td>
            {% endfor %}

            <td class="text-right text-muted">{{ line.hours3|hours }}</td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Totaal</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th class="text-right">{{ view.totals.0|hours }}</th>
          <th class="text-right">{{ view.totals.1|hours }}</th>

          {% for data in view.active_dates %}
            <th class="text-right">
              <div id="hour-total-col{{ forloop.counter }}"></div>
              {% if forloop.last %}
                <div>
                  Week:
                  <span id="hour-total">{{ view.totals.2|hours }}</span>
                </div>
              {% endif %}
            </th>
          {% endfor %}

          <th class="text-right">{{ view.totals.3|hours }}</th>
        </tr>
        {% if view.has_edit_permissions %}
          <tr>
            <th colspan="7"></th>
            <th colspan="{{ view.active_dates|length }}"></th>
            <th colspan="2">
              <input type="submit"
                     class="btn btn-primary"
                     tabindex="{{ view.tabindex_submit_button|default:99 }}"
                     value="Submit" />
            </th>
          </tr>
        {% endif %}
      </tfoot>
    </table>
  </form>
{% endblock %}
