{% extends "trs/base.html" %}
{% load static %}
{% load trs_formatting %}

{% block full-width %}
  <h1>{{ view.title }}</h1>

  <div class="text-muted">
    Zie
    <a href="{% url 'trs.booking.overview' pk=view.person.id %}">
      jaaroverzicht boekingen
    </a>
    als je nog in oude weken moet boeken.
  </div>
  <div class="text-muted">
    Zie
    <a href="{% url 'trs.overviews' %}">
      de pagina met overzichten
    </a>
    voor de handige links die vroeger in de rechterkolom stonden.
  </div>

  <form action="."
        method="post"
        hx-boost="true"
        id="booking-form">
    {% csrf_token %}
    {% for error in form.errors %}
      <!-- <div class="alert alert-error alert-soft">{{ error }}</div> -->
    {% endfor %}
    {% if view.editing_for_someone_else %}
      <div class="alert alert-error alert-soft">
        Pas, op: als je hier iets aanpast, pas je andermans boekingen aan!
      </div>
    {% endif %}

    <table id="booking-table"
           class="table table-compact table-fixed-header table-hover-row">
      <thead class="header">
        <tr>
          <th rowspan="2">Code</th>
          <th rowspan="2">Omschrijving</th>
          <th rowspan="2" class="rotated-header">Budget</th>
          <th rowspan="2" class="rotated-header">Geboekt</th>
          <th rowspan="2" class="rotated-header">Over</th>
          <th rowspan="2">&nbsp;</th>
          {% for year_week in view.year_weeks_to_display %}
            {% if forloop.counter == 3 %}
              <th class="text-center" colspan="{{ view.active_dates|length }}">
                <a href="{% url 'trs.booking' pk=view.person.id year=year_week.year week=year_week.week %}">
                  {% if year_week == view.this_year_week %}
                    Huidige week
                  {% else %}
                    Week {{ year_week.week }}
                  {% endif %}
                  <span>({{ year_week.first_day|date:"j b" }})</span>
                </a>
              </th>
            {% else %}
              <th class="other-week text-right">
                <a href="{% url 'trs.booking' pk=view.person.id year=year_week.year week=year_week.week %}">
                  {% if year_week == view.this_year_week %}
                    Huidige
                  {% else %}
                    Wk {{ year_week.week }}
                  {% endif %}
                </a>
              </th>
            {% endif %}
          {% endfor %}
        <tr>
          {% for year_week in view.year_weeks_to_display %}
            {% if forloop.counter == 3 %}

              {# display the (5) dates instead of the 1 week  #}
              {% for date in view.active_dates %}
                <th class="text-center">
                  {{ date|date:"D" }}
                </th>
              {% endfor %}

            {% else %}
              <th class="other-week text-right">
                <span class="year-date-hint">
                  {{ year_week.first_day|date:"j b" }}
                </span>
              </th>
            {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for line in view.lines %}
          <tr>
            <td class="whitespace-nowrap">
              <a href="{{ line.project.get_absolute_url }}"
                 title="Voor {{ line.project.principal }}
{{ line.project.description }}"
                 {% if not line.project.internal %}class="external-project"{% endif %}>
                {{ line.project.code }}
              </a>
            </td>
            <td>
              <span class="text-muted"
                    style="white-space: nowrap;"
                    {% if line.project.description|length > 35 %}
                      title="{{ line.project.description }}"
                    {% endif %}>
                {{ line.project.description|truncatechars:35 }}
              </span>
            </td>
            <td class="text-right">{{ line.budget|hours }}</td>
            <td  class="text-right {% if line.is_overbooked %}danger{% endif %}">
              {{ line.booked_total|hours }}
            </td>
            <td class="text-right">{{ line.left_to_book|hours }}</td>
            <td class="border-l-1 border-base-300;">&nbsp;&nbsp;&nbsp;</td>
            <td class="text-right text-muted other-week">{{ line.hours0|hours }}</td>
            <td class="text-right text-muted other-week">{{ line.hours1|hours }}</td>

            {% for field in line.fields %}
              <td class="text-center hour-for-total hour-for-col{{ forloop.counter }}">
                {{ field }}
                {% for error in field.errors %}
                  <div class="alert alert-error alert-soft">{{ error }}</div>
                {% endfor %}
                {% if field.is_hidden %}
                  {{ field.value|hours }}
                {% endif %}
              </td>
            {% endfor %}

            <td class="text-right text-muted other-week">{{ line.hours3|hours }}</td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Totaal</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th class="text-right other-week">{{ view.totals.0|hours }}</th>
          <th class="text-right other-week">{{ view.totals.1|hours }}</th>

          {% for data in view.active_dates %}
            <th class="text-center">
              <div id="hour-total-col{{ forloop.counter }}"></div>
            </th>
          {% endfor %}

          <th class="text-right other-week">{{ view.totals.3|hours }}</th>
        </tr>
        <tr>
          <th colspan="6"></th>
          <th colspan="2" class="other-week"></th>
          <th colspan="{{ view.active_dates|length }}"
              class="text-right">
            Weektotaal:
            <span id="hour-total">{{ view.totals.2|hours }}</span>
          </th>
          <th class="other-week"></th>
        </tr>
        {% if view.has_edit_permissions %}
          <tr>
            <th colspan="7"></th>
            <th colspan="{{ view.active_dates|length }}"></th>
            <th colspan="2">
              <input type="submit"
                     class="btn btn-primary"
                     tabindex="{{ view.tabindex_submit_button|default:99 }}"
                     value="Submit" />
            </th>
          </tr>
        {% endif %}
      </tfoot>
    </table>
  </form>
{% endblock %}
