{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block main-column %}
  <h1>Boekingoverzicht {{ view.person }} {{ view.year }}</h1>

  <p>
    Je kan op het weeknummer klikken om de uren van die week te bewerken.
    <a href="#jaren">Onderaan</a> de pagina staat een lijst met jaren voor als je een vorig jaar
    wil nakijken.
  </p>

  <table class="table table-compact table-fixed-header table-hover-row">
    <thead class="header">
      <tr>
        <th>Week</th>
        <th>Begindag</th>
        <th class="text-right">Geboekt</th>
      </tr>
    </thead>
    <tbody>
      {% for line in view.lines %}
        <tr>
          <td>
            <a href="{% url 'trs.booking' pk=view.person.id year=line.year_week.year week=line.year_week.week %}">
              Week {{ line.year_week.week }}
            </a>
          </td>
          <td>
            <span class="year-date-hint">
              {{ line.year_week.formatted_first_day }}
            </span>
          </td>
          <td class="text-right {{ line.klass }}"
              {% if line.hint %}title="{{ line.hint }}"{% endif %}>
            {{ line.booked|hours }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2 id="jaren" >Beschikbare jaren</h2>
  <ul>
    {% for year in view.available_years %}
      <li><a href="?year={{ year }}">{{ year }}</a></li>
    {% endfor %}
  </ul>


{% endblock %}
