{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block main-column %}
  <h1>
    Veranderingen
    <small>vanaf {{ view.start_week.formatted_first_day }}</small>
  </h1>

  {% include "trs/filter-snippet.html" %}

  {% if view.are_there_changes %}

    <div class="row">
      <div class="col-md-6">
        <h2>... aan jou</h2>
        {% if view.person_changes %}
          <!-- Changes on you -->

          <div class="panel panel-default">
            <div class="panel-heading">
              Verandering aan jouw instellingen
            </div>
            <div class="panel-body">
              {% if view.person_changes.hours_per_week__sum %}
                <div>
                  <b>Werkweek:</b>
                  {{ view.active_person.hours_per_week|hours }}
                  ({{ view.person_changes.hours_per_week__sum|hoursdiff }})
                </div>
              {% endif %}
              {% if view.person_changes.target__sum %}
                <div>
                  <b>Target:</b>
                  {{ view.active_person.target|money }}
                  ({{ view.person_changes.target__sum|moneydiff }})
                </div>
              {% endif %}
              {% if view.person_changes.standard_hourly_tariff__sum %}
                <div>
                  <b>Standaard uurtarief:</b>
                  {{ view.active_person.standard_hourly_tariff|money }}
                  ({{ view.person_changes.standard_hourly_tariff__sum|moneydiff }})
                </div>
              {% endif %}
              {% if view.person_changes.minimum_hourly_tariff__sum %}
                <div>
                  <b>Minimum uurtarief:</b>
                  {{ view.active_person.minimum_hourly_tariff|money }}
                  ({{ view.person_changes.minimum_hourly_tariff__sum|moneydiff }})
                </div>
              {% endif %}
            </div>
          </div>
        {% endif %}

        <div class="panel panel-default">
          <div class="panel-heading">
            Verandering aan je werk op projecten
          </div>
          <div class="panel-body">
            <ul>
              {% for change in view.work_changes %}
                <li>
                  {{ change.project.as_widget }}<br>
                  <span class="text-muted">{{ change.project.description }}</span><br>
                  <b>Toegekende uren:</b>
                  {{ change.current.hours|hours }}
                  ({{ change.hours|hoursdiff }})<br>
                  <b>Uurtarief:</b>
                  {{ change.current.hourly_tariff|money }}
                  ({{ change.hourly_tariff|moneydiff }})
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>

      </div>
      <div class="col-md-6">
        <h2>
          ... aan
          {% if view.filters.total %} alle {% else %} jouw {% endif %}
          projecten
        </h2>


        <div class="panel panel-default">
          <div class="panel-heading">
            Nieuwe kostenposten bij
            {% if view.filters.total %}alle{% else %}jouw{% endif %}
            projecten
          </div>
          <div class="panel-body">

            <ul>
              {% for change in view.project_budget_changes %}
                <li>
                  {{ change.project.as_widget }}<br>
                  <span class="text-muted">{{ change.project.description }}</span><br>
                  {% for budget in change.added %}
                    <div>
                      <b>Nieuw:</b>
                      {{ budget.number }}:
                      <span class="text-muted">
                        {{ budget.description }}
                      </span><br>
                      <div class="text-right">
                        &euro;
                        {{ budget.amount|money_with_decimal }}
                      </div>
                    </div>
                  {% endfor %}
                </li>
              {% empty %}
                <div><i>Geen veranderingen</i></div>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            Nieuwe of betaalde facturen bij
            {% if view.filters.total %}alle{% else %}jouw{% endif %}
            projecten
          </div>
          <div class="panel-body">

            <ul>
              {% for change in view.project_invoice_changes %}
                <li>
                  {{ change.project.as_widget }}<br>
                  <span class="text-muted">{{ change.project.description }}</span><br>
                  {% for invoice in change.added %}
                    <div>
                      <b>Nieuw:</b>
                      {{ invoice.number }}:
                      <span class="text-muted">
                        {{ invoice.description }}
                      </span><br>
                      <div class="text-right">
                        &euro;
                        {{ invoice.amount_exclusive|money_with_decimal }}
                      </div>
                    </div>
                  {% endfor %}
                  {% for invoice in change.payed %}
                    <div>
                      <b>Betaald:</b>
                      {{ invoice.number }}:
                      <span class="text-muted">
                        {{ invoice.description }}
                      </span><br>
                      <div class="text-right">
                        &euro;
                        {{ invoice.amount_exclusive|money_with_decimal }}
                      </div>
                    </div>
                  {% endfor %}
                </li>
              {% empty %}
                <div><i>Geen veranderingen</i></div>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

    </div>

  {% else %}
    <p>Er zijn de laatste tijd geen wijzigingen.</p>
  {% endif %}

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Resterende vakantieuren
        </div>
        <div class="panel-body">
          {% if view.vacation_left %}
            <b>In weken:</b> {{ view.vacation_left.weeks|floatformat }}<br>
            <b>In uren:</b> {{ view.vacation_left.hours }}
          {% else %}
            Hm. Geen project gevonden dat 'verlof' heet. Jammer, dat wordt
            doorwerken dit jaar.
          {% endif %}
        </div>
      </div>
    </div>
  </div>


{% endblock %}
