{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block main-column %}
  <h1>
    Veranderingen
    <small>vanaf {{ view.start_week.formatted_first_day }}</small>
  </h1>

  {% include "trs/filter-snippet.html" %}

  {% if view.are_there_changes %}

    <h2>
      ... aan
      {% if view.filters.total %} alle {% else %} jouw {% endif %}
      projecten
    </h2>

    <div class="row">
      <div class="col-md-6">

        <div class="panel panel-default">
          <div class="panel-heading">
            Nieuwe kostenposten bij
            {% if view.filters.total %}alle{% else %}jouw{% endif %}
            projecten
          </div>
          <div class="panel-body">

            <ul>
              {% for change in view.project_budget_changes %}
                <li>
                  {{ change.project.as_widget }}<br>
                  <span class="text-muted">{{ change.project.description }}</span><br>
                  {% for budget in change.added %}
                    <div>
                      <b>Nieuw:</b>
                      {{ budget.number }}:
                      <span class="text-muted">
                        {{ budget.description }}
                      </span><br>
                      <div class="text-right">
                        &euro;
                        {{ budget.amount|money_with_decimal }}
                      </div>
                    </div>
                  {% endfor %}
                </li>
              {% empty %}
                <div><i>Geen veranderingen</i></div>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Nieuwe of betaalde facturen bij
            {% if view.filters.total %}alle{% else %}jouw{% endif %}
            projecten
          </div>
          <div class="panel-body">

            <ul>
              {% for change in view.project_invoice_changes %}
                <li>
                  {{ change.project.as_widget }}<br>
                  <span class="text-muted">{{ change.project.description }}</span><br>
                  {% for invoice in change.added %}
                    <div>
                      <b>Nieuw:</b>
                      {{ invoice.number }}:
                      <span class="text-muted">
                        {{ invoice.description }}
                      </span><br>
                      <div class="text-right">
                        &euro;
                        {{ invoice.amount_exclusive|money_with_decimal }}
                      </div>
                    </div>
                  {% endfor %}
                  {% for invoice in change.payed %}
                    <div>
                      <b>Betaald:</b>
                      {{ invoice.number }}:
                      <span class="text-muted">
                        {{ invoice.description }}
                      </span><br>
                      <div class="text-right">
                        &euro;
                        {{ invoice.amount_exclusive|money_with_decimal }}
                      </div>
                    </div>
                  {% endfor %}
                </li>
              {% empty %}
                <div><i>Geen veranderingen</i></div>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

    </div>

  {% else %}
    <p>Er zijn de laatste tijd geen wijzigingen.</p>
  {% endif %}

{% endblock %}
