{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block main-column %}
  <h1>{{ view.title }}</h1>

  <form action="{{ view.edit_action|default:'.' }}"
        method="post"
        role="form"
        class="form-trs">
    {% for error in form.non_field_errors %}
      <div class="alert alert-error alert-soft">{{ error }}</div>
    {% endfor %}
    {% csrf_token %}
    <fieldset class="grid grid-cols-[15rem_auto] gap-y-2">

      {% for field in form %}
        <div>
          <label>{{ field.label }}</label>
        </div>
        <div>
          {% for error in field.errors %}
            <div class="alert alert-error alert-soft">{{ error }}</div>
          {% endfor %}

          {{ field|tabindex:forloop.counter }}
          {% if field.help_text %}
            <p class="text-muted">{{ field.help_text }}</p>
          {% endif %}
        </div>
      {% endfor %}

      <div></div>
      <div>
        <input type="submit"
               class="btn btn-primary"
               tabindex="{{ view.tabindex_submit_button|default:99 }}"
               value="Submit" />
      </div>

    </fieldset>
  </form>

  {% block extra-edit-content %}
  {% endblock %}

{% endblock %}

{% block overview-column %}

{% endblock %}
