{% if view.prepared_filters %}
  <div class="inline-grid grid-cols-[max-content_auto] gap-4"
       hx-boost="true">
    {% for filter in view.prepared_filters %}

      {% if not filter.hidden %}
        <div {% if filter.active %}class="font-bold"{% endif %}>
          {{ filter.title }}:
        </div>
        <select name="{{ filter.param }}"
                hx-get="?{{ filter.url }}"
                hx-push-url="true"
                hx-target="body"
                class="select">
          {% for choice in filter.choices %}
            <option value="{{ choice.value }}"
                    {% if choice.active %}selected=selected{% endif %}>
              {{ choice.title }}
            </option>
          {% endfor %}
        </select>
      {% endif %}

    {% endfor %}
  </div>
{% endif %}
