{% if view.prepared_filters %}
  <table class="table table-condensed"
         style="width: auto;">
    <tbody>
      {% for filter in view.prepared_filters %}

        {% if not filter.hidden %}
          <tr {% if filter.active %}class="active"{% endif %}>
            <td style="border-top: 0;">
              {{ filter.title }}:
            </td>
            <td style="border-top: 0;">
              <select name="{{ filter.param }}"
                      hx-get="?{{ filter.url }}"
                      hx-push-url="true"
                      hx-target="body">
                {% for choice in filter.choices %}
                  <option value="{{ choice.value }}"
                          {% if choice.active %}selected=selected{% endif %}>
                    {{ choice.title }}
                  </option>
                {% endfor %}
              </select>
            </td>
          </tr>
        {% endif %}

      {% endfor %}
    </tbody>
  </table>
{% endif %}
