{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block full-width %}
  <h1>Overzicht vrije dagen / feestdagen {{ view.person }} {{ view.year }}</h1>

  <div class="text-muted">
    Jaar:
    {% for year in view.available_years %}
      {% if year == view.year %}
        {{ year }}
      {% else %}
        <a href="?year={{ year }}">{{ year }}</a>
      {% endif %}
      {% if not forloop.last %}
        |
      {% endif %}
    {% endfor %}
  </div>

  <p>
    In <b>Afas</b> is er <a target="_"
    href="https://93715.afasinsite.nl/mijn-verlofboeking-prs/overzicht">een pagina met
    het overzicht van al jouw verlofboekingen daar</a>, inclusief een export naar een
    spreadsheet als je het helemaal niet meer snapt.
  </p>

  <p> Noot: ik filter op projecten met "feest" en "verlof" in de naam.<br>
    Je kan op het weeknummer klikken om de uren van die week te bewerken.
  </p>

  <table class="table table-compact table-fixed-header table-hover-row">
    <thead class="header">
      <tr>
        <th>Week</th>
        <th>Begindag</th>
        {% for project in view.free_projects %}
          <th class="text-right">
            <a href="{{ project.get_absolute_url }}">
              {{ project.code }}
            </a>
          </th>
        {% endfor %}
        <th></th>
      </tr>
      <tr>
        <th></th>
        <th></th>
        {% for project in view.free_projects %}
          <th class="text-right">
            {{ project.description }}
          </th>
        {% endfor %}
        <th>Totaal</th>
      </tr>
    </thead>
    <tbody>
      {% for line in view.lines %}
        <tr>
          <td>
            <a class="whitespace-nowrap"
               href="{% url 'trs.booking' pk=view.person.id year=line.year_week.year week=line.year_week.week %}">
              Week {{ line.year_week.week }}
            </a>
          </td>
          <td>
            <span class="whitespace-nowrap year-date-hint">
              {{ line.year_week.formatted_first_day }}
            </span>
          </td>
          {% for hour in line.hours %}
            <td class="text-right {% if hour %}success{% endif %}">{{ hour|hours }}</th>
          {% endfor %}
          <td class="text-right font-bold">{{ line.week_total|hours }}</th>
        </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <th>Totaal</th>
        <th></th>
        {% for total in view.totals %}
          <th class="text-right pr-2">{{ total }}</th>
        {% endfor %}
      </tr>
    </tfoot>
  </table>

{% endblock %}
