{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block main-column %}
  <h1>Overzichten</h1>

  <h2>Voor jou</h2>
  <ul>
    <li>
      <a href="{% url 'trs.booking.overview' pk=view.active_person.id %}">
        Overzicht van je boekingen</a>
    </li>
    <li>
      <a href="{% url 'trs.person.kpi' pk=view.sidebar_person.id %}">
        Jouw voortgang</a>: onderbouwing van de percentages intern/extern geboekt, target, enz.
    </li>
    <li>
      Afas en TRS qua vrije dagen gelijktrekken?
      <a href="{% url 'trs.booking.free-overview' pk=view.sidebar_person.id %}">
        Zie het verlofoverzicht</a>.
    </li>
  </ul>

  <h2>Projecten</h2>

  <ul>
    <li>
      <a href="{% url 'trs.overviews.pl_pm' %}">
        Overzicht projectleiders en projectmanagers
      </a>
    </li>
    {% if view.can_see_everything %}
      <li>
        <a href="{% url 'trs.overviews.invoices' %}">
          Overzicht facturen op datum
        </a>
      </li>
      <li>
        <a href="{% url 'trs.overviews.invoices_per_month' %}">
          Overzicht uitgaande facturen per maand
        </a>
      </li>
      <li>
        <a href="{% url 'trs.overviews.payables' %}">
          Overzicht facturen kosten derden
        </a>
      </li>
      <li>
        <a href="{% url 'trs.overviews.wbso_projects' %}">
          Overzicht WBSO projecten
        </a>
      </li>
      <li>
        <a href="{% url 'trs.overviews.reservations' %}">
          Overzicht reserveringen op projecten
        </a>
      </li>
      <li>
        <a href="{% url 'trs.projects.loss' %}">
          Overzicht verlies op projecten
        </a>
      </li>
      <li>
        <a href="{% url 'trs.overviews.financial' %}">
          Overzicht financiën
        </a>
      </li>
      <li>
        <a href="{% url 'trs.persons' %}?status=all&year={{ view.previous_year }}">
          Medewerkeroverzicht vorig jaar
        </a>
      </li>
      <li>
        <a href="{% url 'trs.overviews.ratings' %}">
          Overzicht rapportcijfers
        </a>
      </li>
    {% endif %}
  </ul>

{% endblock %}
