{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block main-column %}
  <h1>
    {{ view.person.name }}
    {% if view.person.archived %}
      <span title="Werkt hier niet meer"
            class="text-muted inline-icon icon-[mdi--lock]"></span>
    {% endif %}
  </h1>

  <div class="description-table">
    <div class="description-key">Werkweek</div>
    <div>{{ view.person.hours_per_week|hours }}</div>
    <div class="description-key">Werkvoorraad op externe projecten</div>
    <div>{{ view.pyc.left_to_book|hours }}</div>
    {% if view.can_see_financials %}
      <div class="description-key">Target</div>
      <div>{{ view.person.target|money }}</div>
      <div class="description-key">Standaard uurtarief</div>
      <div>{{ view.person.standard_hourly_tariff|money }}</div>
    {% endif %}
    {% if view.person.group %}
      <div class="description-key">Groep</div>
      <div>{{ view.person.group }}</div>
    {% endif %}
    <div class="description-key">Extra rollen</div>
    <div>{{ view.extra_roles }}</div>
  </div>

  {% if view.can_edit_person %}
    <div>
      <a href="{% url 'trs.person.edit' pk=view.person.pk %}"
         class="btn btn-default">
        <span class="inline-icon icon-[mdi--pencil]"></span>
        Wijzig
      </a>
      &nbsp;
      {% if view.can_edit_person_changes %}
        <a href="{% url 'trs.person.target' pk=view.person.pk %}"
           class="btn btn-default">
          <span class="inline-icon icon-[mdi--pencil]"></span>
          Wijzig target/werkweek/uurtarief
        </a>
      {% endif %}
    </div>
  {% endif %}

  <h2>Projecten</h2>

  {% include "trs/filter-snippet.html" %}

  <table class="table table-compact table-fixed-header table-hover-row">
    <thead class="header">
      <tr>
        <th>Project</th>
        <th>Omschrijving</th>
        <th></th>
        <th class="text-right">Toegekend</th>
        <th class="text-right">
          Geboekt<br>
          totaal
        </th>
        <th class="text-right">
          Geboekt<br>
          in {{ view.year }}
        </th>
        {% if view.can_see_financials %}
          <th class="text-right">Tarief</th>
          <th class="text-right">Omzet</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for line in view.lines %}
        <tr>
          <td class="whitespace-nowrap">
            {{ line.project.as_widget }}
          </td>
          <td>
            <span class="text-muted">{{ line.project.description }}</span>
          </td>
          <td class="whitespace-nowrap">
            {% if line.is_project_leader %}
              <span title="Projectleider: gaat over de uren">PL</span>
            {% endif %}
            &nbsp;
            {% if line.is_project_manager %}
              <span title="Projectmanager: gaat over de financi&euml;n">PM</span>
            {% endif %}
          </td>
          <td class="text-right">{{ line.budget|hours }}</td>
          <td class="text-right
                     {% if line.is_overbooked %}danger{% endif %}"
              title="Voor {{ view.year }}: {{ line.booked_previous_years|hours }}">
            {{ line.booked|hours }}
          </td>
          <td class="text-right
                     {% if line.is_overbooked %}danger{% endif %}">
            {{ line.booked_this_year|hours }}
          </td>
          {% if view.can_see_financials %}
            <td class="text-right">{{ line.hourly_tariff|money }}</td>
            <td class="text-right">{{ line.turnover|money }}</td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
