<span class="project-widget">
  <a href="{{ project.get_absolute_url }}"
     title="Voor {{ project.principal }}
  {{ project.description }}"
     {% if not project.internal %}class="external-project"{% endif %}>
    {{ project.code }}
  </a>

  {% if project.archived %}
    <span title="Project is gearchiveerd"
          class="inline-icon icon-[mdi--lock]"></span>
  {% endif %}
  {% if project.is_subsidized %}
    <span title="Subsidieproject"
          class="inline-icon icon-[mdi--currency-eur]"></span>
  {% endif %}
  {% if project.hidden %}
    <span title="Afgeschermd project: je ziet elkaars uren niet"
          class="inline-icon icon-[mdi--cancel]"></span>
  {% endif %}
  {% if project.hourless %}
    <span title="Uren tellen niet mee voor totaal"
          class="inline-icon icon-[mdi--camera]"></span>
  {% endif %}
  {% if project.not_yet_started %}
    <span title="Project moet nog starten"
          class="inline-icon icon-[mdi--clock-outline]"></span>
  {% endif %}
  {% if project.already_ended %}
    <span title="Project is al ge&euml;indigd"
          class="inline-icon icon-[mdi--calendar-check]"></span>
  {% endif %}
</span>
