{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block full-width %}

  <h1>
    {{ view.project.code }}
    {% if view.project.archived %}
      <span title="Project is gearchiveerd"
            class="inline-icon icon-[mdi--lock]"></span>
    {% endif %}
    {% if view.project.is_subsidized %}
      <span title="Subsidieproject"
            class="inline-icon icon-[mdi--currency-eur]"></span>
    {% endif %}
    {% if view.project.hidden %}
      <span title="Afgeschermd project: je ziet elkaars uren niet"
            class="inline-icon icon-[mdi--cancel]"></span>
    {% endif %}
    {% if view.project.hourless %}
      <span title="Uren tellen niet mee voor totaal"
            class="inline-icon icon-[mdi--camera]"></span>
    {% endif %}
    <small>{{ view.project.description }}</small>
    {% if view.can_see_project_financials %}
      <a class="pull-right"
         title="Download excel"
         hx-boost="false"
         href="{% url 'trs.project.excel' pk=view.project.id %}"><span class="inline-icon icon-[mdi--microsoft-excel]"></span></a>
    {% endif %}
    {% if view.project.is_subsidized %}
      {% if view.can_see_everything %}
        <a class="pull-right"
           title="Download subsidie-verantwoordings-excel"
           hx-boost="false"
           href="{% url 'trs.project.persons.excel' pk=view.project.id %}">
          <span class="inline-icon icon-[mdi--file-excel]"></span>
        </a>
      {% endif %}
    {% endif %}
  </h1>

  <div class="description-table">
    <div class="description-key">Opdrachtgever</div>
    <div>{{ view.project.principal }}</div>
    {% if view.show_bid_and_confirmation_dates %}
      <div class="description-key">Offerte verzonden</div>
      <div>{{ view.project.bid_send_date|default:"Nog niet" }}</div>
      <div class="description-key">Opdrachtbevestiging binnen</div>
      <div>{{ view.project.confirmation_date|default:"Nog niet" }}</div>
    {% endif %}
    <div class="description-key">Opdrachtsom</div>
    <div>
      {{ view.project.contract_amount|money_with_decimal }}
    </div>

    {% if view.project.wbso_project %}
      <div class="description-key">
        WBSO project
      </div>
      <div>
        {% if view.can_see_everything %}
          <a href="{% url 'trs.wbso_project' pk=view.project.wbso_project.id %}">
            {{ view.project.wbso_project.title }}
            (nummer {{ view.project.wbso_project.number }})
          </a>
        {% else %}
          {{ view.project.wbso_project.title }}
          (nummer {{ view.project.wbso_project.number }})
        {% endif %}
      </div>
    {% endif %}

    {% if view.project.group %}
      <div class="description-key">Groep</div>
      <div>{{ view.project.group }}</div>
    {% endif %}
    {% if view.project.mpc %}
      <div class="description-key">Markt-product-combinatie</div>
      <div>{{ view.project.mpc }}</div>
    {% endif %}
    <div class="description-key">Startweek</div>
    <div>{{ view.project.start.friendly|default:"Niet ingevuld" }}</div>
    <div class="description-key">Laatste week</div>
    <div>{{ view.project.end.friendly|default:"Niet ingevuld" }}</div>

    {% if view.project.rating_projectteam %}
      <div class="description-key">
        Rapportcijfer v/h projectteam
      </div>
      <div>
        {{ view.project.rating_projectteam }}
      </div>
      {% if view.project.rating_projectteam_reason %}
        <div>
        </div>
        <div>
          {{ view.project.rating_projectteam_reason|linebreaksbr }}
        </div>
      {% endif %}
    {% endif %}
    {% if view.project.rating_customer %}
      <div class="description-key">
        Rapportcijfer v/d klant
      </div>
      <div>
        {{ view.project.rating_customer }}
      </div>
      {% if view.project.rating_customer_reason %}
        <div>
        </div>
        <div>
          {{ view.project.rating_customer_reason|linebreaksbr }}
        </div>
      {% endif %}
    {% endif %}

    <div class="description-key">
      Opmerkingen
    </div>
    <div>
      {% if view.project.remark %}
        {{ view.project.remark|linebreaksbr }}
      {% else %}
        —
      {% endif %}
    </div>
    <div class="description-key">
      Financiële opmerkingen
    </div>
    <div>
      {% if view.project.financial_remark %}
        {{ view.project.financial_remark|linebreaksbr }}
      {% else %}
        —
      {% endif %}
    </div>
  </div>

  {% if view.can_edit_project %}
    <p>
      <a href="{% url 'trs.project.edit' pk=view.project.pk %}"
         class="btn btn-default">
        <span class="inline-icon icon-[mdi--pencil]"></span>
        Project bewerken
      </a>
    </p>
  {% endif %}

  {% if view.can_view_team %}
    {% if not view.can_see_project_financials %}
      <h2>Projectteam</h2>
      <table class="table table-compact table-hover-row">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th class="text-right">Toegekend</th>
            <th class="text-right">&nbsp;&nbsp;&nbsp;</th>
            <th class="text-right">Geboekt</th>
          </tr>
        </thead>

        <tbody>
          {% for line in view.lines %}
            <tr>
              <td>
                {{ line.person.as_widget }}
              </td>
              <td>
                {% if line.is_project_leader %}
                  <span title="Projectleider: gaat over de uren">PL</span>
                  &nbsp;
                {% endif %}
                {% if line.is_project_manager %}
                  <span title="Projectmanager: gaat over de financi&euml;n">PM</span>
                {% endif %}
              </td>
              <td class="text-right">{{ line.budget|hours }}</td>
              <td class="text-right">&nbsp;&nbsp;&nbsp;</td>
              <td class="text-right
                         {% if line.is_overbooked %}danger{% endif %}">
                {{ line.booked|hours }}
              </td>
            </tr>
          {% endfor %}
        </tbody>

      </table>

    {% endif %}
    {% if view.can_see_project_financials %}

      <h2 id="budget">
        Projectbegroting
        {% if not view.project.budget_ok %}
          <span class="{{ view.project.budget_not_ok_style }} inline-icon icon-[mdi--alert]"
                title="Budget is niet goed verdeeld"></span>
        {% endif %}
      </h2>

      <table class="table table-compact table-hover-row">
        <thead>
          <tr>
            <th colspan="7"></th>
            <th class="text-right">Inkomsten</th>
            <th class="text-right">Kosten</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th colspan="7" class="not-as-header">Opdrachtsom</th>
            <td class="text-right">
              {{ view.project.contract_amount|money_with_decimal }}
            </td>
            <td></td>
          </tr>
          {% for budget_item in view.project.budget_transfers.all %}
            <tr>
              <td colspan="7">
                Overboeking van {{ budget_item.project.as_widget }}:
                <i>{{ budget_item.description }}</i>
              </td>
              {% if budget_item.amount < 0 %}
                <td class="text-right"></td>
                <td class="text-right">{{ budget_item.amount_as_income|money_with_decimal }}</td>
              {% else %}
                <td class="text-right">{{ budget_item.amount|money_with_decimal }}</td>
                <td class="text-right"></td>
              {% endif %}
            </tr>
          {% empty %}
            <tr>
              <td colspan="9">
                Geen overboekingen van andere projecten
              </td>
            </tr>
          {% endfor %}

          {% for third_party_estimate in view.project.third_party_estimates.all %}
            <tr>
              <td colspan="8">
                Kosten derden:
                {{ third_party_estimate.description|default:'Niet ingevuld' }}
              </td>
              <td class="text-right">{{ third_party_estimate.amount|money_with_decimal }}</td>
        </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="9">
                Geen kosten derden
              </td>
            </tr>
          {% endfor %}

          <tr>
            <th class="not-as-header">Netto opdrachtsom</th>
            <th colspan="7" class="text-right not-as-header">
              {{ view.project.net_contract_amount|money_with_decimal }}
            </th>
            <td></td>
        </td>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <th>Personele kosten</th>
            <th></th>
            <th class="text-right">Toegekend</th>
            <th class="text-right">Geboekt</th>
            <th class="text-right">Tarief</th>
            <th class="text-right">Omzet</th>
            <th class="text-right">Verlies</th>
            <th colspan="2"></th>
          </tr>

          {% for line in view.lines %}
            <tr>
              <td>
                &nbsp;&nbsp;&nbsp;
                {{ line.person.as_widget }}
                &nbsp;
                {% if line.is_project_leader %}
                  <span class="badge badge-outline"
                        title="Projectleider: gaat over de uren">PL</span>
                {% endif %}
                {% if line.is_project_manager %}
                  <span class="badge badge-outline"
                        title="Projectmanager: gaat over de financi&euml;n">PM</span>
                {% endif %}

              </td>
              <td>
                {% if line.person.to_book.friendly %}
                  <span class="badge badge-outline"
                        title="Achter met boeken: {{ line.person.to_book.friendly }}">
                    {{ line.person.to_book.short }}
                  </span>
                {% endif %}
              </td>

              <td class="text-right">{{ line.budget|hours }}</td>
              <td class="text-right
                         {% if line.is_overbooked %}danger{% endif %}">
                {{ line.booked|hours }}
              </td>
              {% if line.desired_hourly_tariff <= line.hourly_tariff  %}
                <td class="text-right">
                  {{ line.hourly_tariff|money }}
                </td>
              {% else %}
                <td class="text-right danger">
                  <span title="Gewenst: {{ line.desired_hourly_tariff }}.">
                    {{ line.hourly_tariff|money }}
                  </span>
                </td>
              {% endif %}
              <td class="text-right">{{ line.turnover|money }}</td>
              <td class="text-right">{{ line.loss|money }}</td>
              <td class="text-right">
                &nbsp;  {# costs #}
              </td>
              <td class="text-right">
                {{ line.planned_turnover|money_with_decimal }}
              </td>
            </tr>
          {% endfor %}
          <tr>
            <td colspan="8">&nbsp;&nbsp;&nbsp;Reservering</td>
            <td class="text-right">
              {{ view.project.reservation|money_with_decimal }}
          </tr>

          <tr>
            <th class="not-as-header">
              Subtotaal personele kosten
            </th>
            <th colspan="8" class="text-right not-as-header">
              {{ view.project.person_costs_incl_reservation|money_with_decimal }}
            </th>
          </tr>
        </tbody>

        <tbody>
          <tr>
            <th colspan="9">Overige kosten</th>
          </tr>
          {% for budget_item in view.project.budget_items.all %}
            <tr>
              <td colspan="7">
                &nbsp;&nbsp;&nbsp;
                {{ budget_item.description|default:'Niet ingevuld' }}
                {% if budget_item.to_project %}
                  naar {{ budget_item.to_project.as_widget }}
                {% endif %}
              </td>
              {% if budget_item.amount >= 0 %}
                <td class="text-right"></td>
                <td class="text-right">{{ budget_item.amount|money_with_decimal }}</td>
              {% else %}
                <td class="text-right">{{ budget_item.amount_as_income|money_with_decimal }}</td>
                <td class="text-right"></td>
              {% endif %}
            </tr>
          {% empty %}
            <tr>
              <td colspan="9">
                &nbsp;&nbsp;&nbsp;
                Geen
              </td>
            </tr>
          {% endfor %}

          <tr>
            <th class="not-as-header" colspan="8">Software ontwikkeling</th>
            <td class="text-right">
              {{ view.project.software_development|money_with_decimal }}
          </tr>
          <tr>
            <th class="not-as-header" colspan="8">Afdracht</th>
            <td class="text-right">
              {{ view.project.profit|money_with_decimal }}
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <th colspan="7">Totaal</th>
            <th class="text-right">
              {{ view.total_income|money_with_decimal }}
            </th>
            <th class="text-right">
              {{ view.total_costs|money_with_decimal }}
            </th>
          </tr>
          <tr>
            <th class="not-as-header">
              Nog te verdelen
            </th>
            <td class="text-right" colspan="7">
              {{ view.project.left_to_dish_out|money_with_decimal }}
            </td>
            <td></td>
          </tr>
        </tfoot>

      </table>

    {% endif %}

    <div>
      {% if view.can_edit_financials %}
        <a href="{% url 'trs.project.budget' pk=view.project.pk %}"
           class="btn btn-default">
          <span class="inline-icon icon-[mdi--pencil]"></span>
          Pas projectbegroting aan
        </a>
        &nbsp;&nbsp;
      {% endif %}
    </div>
    {% if view.can_edit_and_see_everything and view.project.internal %}
      <p class="text-muted">
        Indien iedereen aan dit interne project toegevoegd moet worden:
        <a href="{% url 'trs.project.update-team' pk=view.project.pk %}">
          update het team automatisch
        </a>.
      </p>
    {% endif %}

  {% else %}
    <p>
      <span class="inline-icon icon-[mdi--alert] text-danger"></span>
      Dit project is afgeschermd, dus je kan niet zien wie er op dit project
      mogen boeken.
    </p>
  {% endif %}

  {% if view.can_see_project_financials %}
    <h2>Facturen</h2>
    <table class="table table-compact table-hover-row">
      <thead>
        <tr>
          <th>Datum</th>
          <th>Factuurnummer</th>
          <th></th>
          <th>Omschrijving</th>
          <th class="text-right">Exclusief</th>
          <th class="text-right">BTW</th>
          <th class="text-right">Inclusief</th>
          <th>Betaald</th>
        </tr>
      </thead>
      <tbody>
        {% for invoice in view.project.invoices.all %}
          <tr>
            <td>{{ invoice.date|date:"j b Y" }}</td>
            <td>
              {% if view.can_edit_financials %}
                <a href="{% url 'trs.invoice.edit' project_pk=view.project.pk pk=invoice.pk %}">
                  {{ invoice.number }}
                </a>
              {% else %}
                {{ invoice.number }}
              {% endif %}
            </td>
            <td>
              {% if view.can_edit_financials %}
                <a href="{% url 'trs.project.invoice-delete' pk=view.project.pk invoice_pk=invoice.pk %}">
                  <span class="inline-icon icon-[mdi--trash-can-outline] text-danger"></span>
                </a>
              {% endif %}
            </td>
            <td>{{ invoice.description }}</td>
            <td class="text-right">{{ invoice.amount_exclusive|money_with_decimal }}</td>
            <td class="text-right">{{ invoice.vat|money_with_decimal }}</td>
            <td class="text-right">{{ invoice.amount_inclusive|money_with_decimal }}</td>
            <td>{{ invoice.payed|date:"j b Y"|default:'Nee' }}</td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="8">
              <i>Er zijn geen facturen toegevoegd.</i>
            </td>
          </tr>
        {% endfor %}
      </tbody>
      <tfoot>
        <tr>
          <th>Totaal</th>
          <th></th>
          <th></th>
          <th></th>
          <th class="text-right">{{ view.total_invoice_exclusive|money_with_decimal }}</th>
          <th></th>
          <th class="text-right">{{ view.total_invoice_inclusive|money_with_decimal }}</th>
          <th></th>
        </tr>
      </tfoot>
    </table>

    {% if view.can_edit_project_financials %}
      <div>
        <a href="{% url 'trs.invoice.add' project_pk=view.project.pk %}"
           class="btn btn-default">
          <span class="inline-icon icon-[mdi--plus]"></span>
          Voeg factuur toe
        </a>
      </div>
    {% endif %}



    <h2>Facturen kosten derden</h2>
    <table class="table table-compact table-hover-row">
      <thead>
        <tr>
          <th>Datum</th>
          <th>Factuurnummer</th>
          <th>{# 'delete' button #}</th>
          <th>Omschrijving</th>
          <th class="text-right">Bedrag</th>
          <th>Betaald</th>
        </tr>
      </thead>

      <tbody>
        {% for payable in view.project.payables.all %}
          <tr>
            <td>{{ payable.date|date:"j b Y" }}</td>
            <td>{{ payable.number }}</td>
            <td>
              {% if view.can_edit_financials %}
                <a href="{% url 'trs.project.payable-delete' pk=view.project.pk payable_pk=payable.pk %}">
                  <span class="inline-icon icon-[mdi--trash-can-outline] text-danger"></span>
                </a>
              {% endif %}
            </td>
            <td>
              {% if view.can_edit_financials %}
                <a href="{% url 'trs.payable.edit' project_pk=view.project.pk pk=payable.pk %}">
                  {{ payable.description|default:'Niet ingevuld' }}
                </a>
              {% else %}
                {{ payable.description|default:'Niet ingevuld' }}
              {% endif %}
            </td>
            <td class="text-right">{{ payable.amount|money_with_decimal }}</td>
            <td class="text-right">
              {{ payable.payed|date:"j b Y"|default:'Nee' }}
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="6">
              <i>Er zijn geen facturen toegevoegd.</i>
            </td>
          </tr>
        {% endfor %}
      </tbody>

      <tfoot>
        <tr>
          <th>Totaal</th>
          <th></th>
          <th></th>
          <th></th>
          <th class="text-right">
            {{ view.total_third_party_invoices|money_with_decimal }}
          </th>
          <th></th>
        </tr>
      </tfoot>
    </table>


    {% if view.can_edit_financials %}
      <div>
        <a href="{% url 'trs.payable.add' project_pk=view.project.pk %}"
           class="btn btn-default">
          <span class="inline-icon icon-[mdi--plus]"></span>
          Voeg factuur kosten derden toe
        </a>
      </div>
    {% endif %}


    {% if view.project.financial_remark %}
      <p>
        <b>Financiële opmerkingen:</b><br>
        {{ view.project.financial_remark|linebreaksbr }}
      </p>
    {% endif %}

  {% endif %}

{% endblock %}
