{% extends "trs/base.html" %}
{% load trs_formatting %}

{% block main-column %}
  <h1>{{ view.title }} <small>{{ view.small_title }}</small></h1>

  {% include "trs/filter-snippet.html" %}

  <table class="table table-hover table-condensed table-fixed-header">
    <thead class="header">
      <tr>
        <th>Project</th>
        <th>Omschrijving</th>
        <th class="text-right">Opdrachtsom</th>
      </tr>
    </thead>
    <tbody id="project-lines">
      {% for project in view.projects %}
        <tr {% if view.projects.has_next and forloop.last %}
            hx-get="?page={{ view.projects.next_page_number }}&{{ view.current_get_params }}"
            hx-swap="beforeend"
            hx-target="#project-lines"
            hx-select="#project-lines tr"
            hx-trigger="revealed"
            hx-indicator="#project-load-indicator"
            {% endif %}>
          <td>{{ project.as_widget }}</td>
          <td>
            <span class="text-muted">{{ project.description }}</span>
          </td>
          <td class="text-right">
            {{ project.contract_amount|money }}
          </td>
        </tr>
      {% endfor %}
    </tbody>
    {% if view.projects.has_next %}
      <tfoot id="project-load-indicator" class="htmx-indicator">
        <tr>
          <th class="text-center" colspan="3">Volgende set wordt opgehaald...</th>
        </tr>
      </tfoot>
    {% endif %}
  </table>

{% endblock %}
