{% extends "trs/base.html" %}
{% load staticfiles %}
{% load trs_formatting %}
{% load highlight %}

{% block full-width %}
  <h1>Zoeken</h1>

  <form method="get" action=".">
    {% for error in form.non_field_errors %}
      <div class="alert alert-danger">{{ error }}</div>
    {% endfor %}
    <fieldset>
      {% for field in form %}
        {% if forloop.counter != 2 %}
          {# Temp hack: don't show the second field with the person/project selection #}
          <div class="form-group row">
            <label class="col-sm-2">{{ field.label }}</label>
            <div class="col-sm-5">
              {% for error in field.errors %}
                <div class="alert alert-danger">{{ error }}</div>
              {% endfor %}
              {{ field|tabindex:forloop.counter }}
              {% if field.help_text %}
                <p class="text-muted">{{ field.help_text }}</p>
              {% endif %}
            </div>
          </div>
        {% endif %}
      {% endfor %}
      <div class="form-group">
        <div class="col-sm-offset-3">
          <input type="submit"
                 class="btn btn-primary"
                 tabindex="{{  view.tabindex_submit_button|default:99 }}"
                 value="Zoek" />
        </div>
      </div>
    </fieldset>

    {% if query %}
      <h2>Resultaten</h2>
      <ul class="search-results">
        {% for result in page.object_list %}
          <li>
            <b>
              <a href="{{ result.object.get_absolute_url }}">
                {{ result.object }}
              </a>
            </b>
            {{ result.object.description }}
            <br>
            <span class="text-muted">
              {% highlight result.text with query max_length 60 %}
            </span>
          </li>
        {% empty %}
          <li>Geen resultaten gevonden.</li>
        {% endfor %}
      </ul>

      {% if page.has_previous or page.has_next %}
        <div>
          {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
          |
          {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
      {% endif %}

    {% else %}
      {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
  </form>
{% endblock %}
