/* Font overrides for bootstrap: we use the firefox OS font */
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Fira sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
code, pre {
    font-family: "Fira mono",Monaco,Menlo,Consolas,"Courier New",monospace;
}

/* Bigger "logo" */
a.navbar-brand {
    font-weight: 600;
    font-size: 50px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 50px;
}

.external-project {
    font-weight: bold;
}

*[title] {
    cursor: help;
}

table.borderless-table td,
table.borderless-table th {
    border-top: 0 ! important;
}

/* Modified css from https://gist.github.com/i-scorpion/2948136/ for fixed thead */
table .header-fixed {
    position: fixed;
    top: 0px;
    z-index: 1020; /* 10 less than .navbar-fixed to prevent any overlap */
}

.with-ellipsis {
    white-space: nowrap;
    text-overflow: ellipsis;
}

.project-widget {
    white-space: nowrap;
}

/* Longer description field in 'new project' form */
input#id_description {
    width: 600px;
}

/* For search results */
.highlighted {
    color: #C09853;
    background-color: #FCF8E3;
}