# Note: after an update here, run:
# docker-compose run --rm web make install

--index-url https://packages.lizard.net
--find-links https://packages.lizard.net/

# Develop ourselves:
-e file:.#trs[test]

# Specific pins
Django == 2.1.*
django-extensions < 3  # 3.0.0 is django>2.2
pyjwt < 2  # 2.0 drops 3.5 support

# Development tools
isort
flake8
black
