# Note: after an update here, run:
# docker-compose run --rm web make install

--index-url https://packages.lizard.net
--find-links https://packages.lizard.net/

# Develop ourselves:
-e file:.#trs[test]

# Specific pins
Django == 3.2.*

# Development tools
isort
flake8
black
