# Note: after an update here, run:
# docker-compose run --rm web make install

--index-url https://packages.lizard.net

# Develop ourselves:
-e file:.#trs[test]

# Specific pins
Django == 1.8.14

# Items I don't dare to update, yet.
django-haystack == 2.4.0
django-tls == 0.0.2
snowballstemmer == 1.2.0

# Development tools
isort
flake8
black
