name: test

# Run on pull requests and on the master branch itself.
on:
  push:
    branches:
      - master
  pull_request:


jobs:
  build_and_test:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.13
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Install everything
        run: make install
      - name: Test
        run: make test
      - name: Add coverage comment for better visibility
        uses: coroo/pytest-coverage-commentator@v1.0.2
        with:
          pytest-coverage: pytest-coverage.txt
